.nitro-navigator-search-result {
    border: 1px solid #ced4da;

    .nitro-navigator-result-list {

        .nitro-navigator-result {
            background: $grid-active-bg-color;
        }
    
        &.row {
    
            &.row-cols-1 {
    
                .col:nth-child(even) {
    
                    .nitro-navigator-result {
                        background: $white !important;
                    }
                } 
            }
    
            &.row-cols-2 {
    
                .col:nth-child(4n+3),
                .col:nth-child(4n+4) {
                    
                    .nitro-navigator-result {
                        background: $white !important;
                    }
                }
            }
        }
    }
    
}
