.current-badge-container {

    .badge-image {
        width: 45px;
        height: 45px;
    }
}

.inventory-badge-overflow {
    height: calc(100% - 86px);
}

@import './item/InventoryBadgeItemView';
