.shared-tab-badge {
    .position-swatch {
        position: relative;
        border-radius: $border-radius;
        width: 16px;
        height: 16px;
        background: $white;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

        &.active {
            background: $primary;
            box-shadow: none;
        }
    }

    .color-swatch {
        position: relative;
        border-radius: $border-radius;
        width: 16px;
        height: 16px;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

        &.active {
            box-shadow: none;
        }
    }

    .selection-list {
        height: 160px;
        min-height: 160px;
        max-height: 160px;
    }
}
