.nitro-group-creator {
    width: 433px;

    .creator-tabs {
        display: flex;
        align-items: center;

        .tab {
            position: relative;
            margin-left: -6px;
            background-image: url('../../../../assets/images/groups/creator_tabs.png');
            background-repeat: no-repeat;

            div {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &:first-child {
                margin-left: 0px;
            }

            &.tab-blue-flat {
                width: 84px;
                height: 24px;
                background-position: 0px 0px;

                div {
                    margin-top: 1px;
                }

                &.active {
                    height: 28px;
                    background-position: 0px -24px;
                }
            }

            &.tab-blue-arrow {
                width: 83px;
                height: 24px;
                background-position: 0px -52px;

                div {
                    margin-top: 1px;
                }

                &.active {
                    height: 28px;
                    background-position: 0px -76px;
                }
            }

            &.tab-yellow {
                width: 133px;
                height: 28px;
                background-position: 0px -104px;

                div {
                    margin-top: 3px;
                }

                &.active {
                    height: 33px;
                    background-position: 0px -132px;
                }
            }
        }
    }

    .creator-tab {
        height: 260px;
        min-height: 260px;
        max-height: 260px;
    }
}
