.youtube-tv-widget {
    min-width: 600px;
    
    .youtube-video-container
    {
        min-height: 315px;
        /*
        position: relative;
        overflow: hidden;

        &::after
        {
            display: block;
            content: "";
            //padding-top: 56.25%;
        }

        .iframe, object, embed
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        */
    }

    .playlist-container
    {
        overflow-y: hidden;
        margin-right: -10px;
        .playlist-controls
        {
            width: 100%;
            .icon
            {
                margin-right: 10px;
            }
        }

        .playlist-list
        {
            margin-top: 10px;
            width: 100%;
            margin-bottom: 5px;
            height: 100%;
            overflow-y: scroll;

            .playlist-entry
            {
                color: black;
                background-color: beige;
                width: 100%;
                height: 50px;
                border-radius: 0.5px;

                &.selected
                {
                    background-color: #40a2c9;
                }
            }
        }
    }
}
