.nitro-catalog {
    width: $catalog-width;
    height: $catalog-height;

    font[size="16"] {
        font-size: 20px;
    }

    .catalog-search-button {
        min-width: 30px;
        width: 30px;
    }
}

.nitro-catalog-navigation-grid-container {
    border-radius: 0.25rem;
    border-color: #B6BEC5 !important;
    background-color: #CDD3D9;
    border: 2px solid;

    .layout-grid-item {
        font-size: $font-size-sm;
        height: 23px !important;
        border-color: unset !important;
        background-color: #CDD3D9;
        border: 0 !important;
        padding: 1px 3px;

        .svg-inline--fa {
            color: $black;
            font-size: 10px;
            padding: 1px;
        }
    }
}

@import './views/CatalogViews';
