.nitro-infostand-container {
    position: absolute;
    right: 10px;
    bottom: $toolbar-height + 10px;
    pointer-events: none;
    z-index: $infostand-zindex;

    .nitro-infostand {
        position: relative;
        min-width: 170px;
        max-width: 170px;
        z-index: $infostand-zindex;
	    pointer-events: auto;
        box-shadow: inset 0 2px 0 rgba($white, .15), 0 1px 1px rgba($black, .1);

        &.nitro-infostand-user {
            max-width: 180px;
        }

        .pet-image {
            position: relative;
            width: 100%;
            height: 130px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .body-image {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($light-dark, 1);
            width: 100%;
            max-width: 68px;
            border-radius: 3px;
            margin-right: 5px;

            &.bot {
                background-image: url('../../../../assets/images/infostand/bot_background.png');
                background-repeat: no-repeat;
                background-position: center;
            }

            &.furni {
                background-color: transparent;
                margin-right: 0;
            }
        }

        .badge-image {
            width: 45px;
            height: 45px;
        }

        .motto-content {
            min-height: 18px;
        }

        .motto-input {
            width: 100%;
            height: 100%;
            font-size: 12px;
            padding: 0;
            outline: 0;
            border: 0;
            color: rgba($white, 1);
            position: relative;
            background: transparent;
            resize: none;

            &:focus {
                font-style: italic;
            }
        }
    }

    .button-container {
	    pointer-events: auto;
    }

    .pet-stats {
        height: 21px;
    }
}
