.nitro-achievements {
    width: $achievement-width;
    height: $achievement-height;

    .score {
        border-color: $grid-border-color !important;
        background-color: $grid-bg-color;
    }

    .category {
        border-color: $grid-border-color !important;
        background-color: $grid-bg-color;
        cursor: pointer;

        &.active {
            border-color: $grid-active-border-color !important;
            background-color: $grid-active-bg-color;
        }

        .category-score {
            margin-top: 43.5px;
        }
    }

    .achievements {
        height: 152px;
        overflow-y: auto;
        overflow-x: hidden;

        .achievement {
            border-color: $grid-border-color !important;
            background-color: $grid-bg-color;
            cursor: pointer;
        
            &.active {
                border-color: $grid-active-border-color !important;
                background-color: $grid-active-bg-color;
            }
    
            &.gray {
                div {
                    filter: grayscale(1);
                    opacity: .5;
                }
            }
    
            div {
                height: 40px;
            }
        }
    }

    .achievement-image {
        height: 80px;
        width: 80px;

        .badge-image {
            width: 80px;
            height: 80px;
            background-size: contain;
        }
    }
}
