.nitro-achievements {
    width: $achievement-width;
    height: $achievement-height;
}

.nitro-achievements-category-grid {
    --nitro-grid-column-min-width: 80px !important;

    .grid-item {
        height: 80px;
        max-height: 80px;

        .achievement-score {
            top: 50px;
        }
    }
}

.nitro-achievements-back-arrow {
    background: url('../../assets/images/achievements/back-arrow.png') no-repeat center;
    width: 33px;
    height: 34px;
}

.nitro-achievements-badge-image {
    width: 80px;
    height: 80px;
}
