/dist
/tmp
/out-tsc
/node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.sass-cache
/connect.lock
/coverage
*.log
.git
.DS_Store
Thumbs.db

# Nitro
/build
*.zip
.env
public/renderer-config*
public/ui-config*
