.limited-edition-number {
    display: inline-block;
    outline: 0;
    height: 5px;
    margin-right: 1px;
    background-image: url('../../../../assets/images/unique/numbers.png');
    background-repeat: no-repeat;

    &:last-child {
        margin-right: 0px;
    }

    &.n-0 {
        width: 4px;
        background-position: -1px 0px;
    }

    &.n-1 {
        width: 2px;
        background-position: -6px 0px;
    }

    &.n-2 {
        width: 4px;
        background-position: -9px 0px;
    }

    &.n-3 {
        width: 4px;
        background-position: -14px 0px;
    }

    &.n-4 {
        width: 4px;
        background-position: -19px 0px;
    }

    &.n-5 {
        width: 4px;
        background-position: -24px 0px;
    }

    &.n-6 {
        width: 4px;
        background-position: -29px 0px;
    }

    &.n-7 {
        width: 4px;
        background-position: -34px 0px;
    }

    &.n-8 {
        width: 4px;
        background-position: -39px 0px;
    }

    &.n-9 {
        width: 4px;
        background-position: -44px 0px;
    }
}
