.unique-complete-plate {
    top: 145px;
    left: 10px;
    width: 170px;
    height: 29px;
    background: url("../../../../assets/images/unique/catalog-info-amount-bg.png");
    
    div {
        position: relative;
        padding-left: 45px;
        padding-right: 20px;
        font-size: 10px;
        color: #000;

        div {
            position: absolute;
            right: 0px;
        }
    }
}
