.nitro-marketplace-post-offer {
    width: 300px;
    height: 365px;

    .item-image-container {
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
}
