.nitro-room-link {
    width: 400px;

    .room-thumbnail {
        position: relative;
        width: 110px;
        height: 110px;
        background-image: url(../../../../assets/images/navigator/thumbnail_placeholder.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba($black, .125);
        border-color: $black !important;
    }
}
