.nitro-camera-capture {
    .camera-canvas {
        width: 340px;
        height: 462px;
    
        background-image: url('../../../../assets/images/room-widgets/camera-widget/camera-spritesheet.png');

        .camera-frame {
            position: absolute;
            width: 320px;
            height: 320px;
            margin-top: 9px;
            margin-left: 11.4px;

            &.bg {
                background: black;
            }

            .camera-frame-preview-actions {
                background: rgba(0, 0, 0, .5);
            }
        }
    
        .camera-button {
            width: 94px;
            height: 94px;
            cursor: pointer;
            margin-top: 334px;
    
            background-image: url('../../../../assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -340px 0px;
    
            &:hover {
                background-position: -340px -94px;
            }
    
            &:active {
                background-position: -340px -188px;
            }
        }
    }

    .camera-roll {
        width: 330px;
        background: #bab8b4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid black;
        box-shadow: inset 1px 0px white, inset -1px -1px white;

        img {
            width: 56px;
            height: 56px;
            border: 1px solid black;
        }
    }
}

.nitro-camera-editor {
    width: 600px;

    .effects {
        height: 363px;
        min-height: 363px;
        max-height: 363px;

        .btn-remove-effect {
            z-index: 10;
            min-height: 0px;
            border-radius: 100px;
            width: 20px;
        }

        .effect-thumbnail {
            border-color: $grid-border-color !important;
            background-color: $grid-bg-color;
            height: 60px;
    
            &.active {
                border-color: $grid-active-border-color !important;
                background-color: $grid-active-bg-color;
            }
    
            .effect-thumbnail-image {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .picture-preview {
        width: 320px;
        height: 320px;

        &.zoomed {
            background-size: 636px;
            background-position: center;
        }

        .slider {
            background: linear-gradient(180deg, transparent, black);
            text-shadow: 1px 1px rgba(0, 0, 0, .5);
        }
    }
}
