.nitro-hotel-view {
    display: block;
	position: fixed;
	width: 100%;
	height: calc(100% - 55px);
	background: rgba($black, 1);
	
	.avatar-image {
		bottom: 12px;
		left: 63px;
		position: absolute;
		z-index: 1;
	}

	.background {
		height: 100%;
		width: 100%;
		background-position: left;
		background-repeat: repeat-y;
	}

	.drape {
        width: 100%;
        height: 100%;
		left: 0px;
		top: 0;
		animation-iteration-count: 1;
		animation-name: slideDown;
		animation-duration: 1s;
		z-index: 3;
        background-repeat: no-repeat;
	}

	.sun {
        width: 100%;
        height: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
        background-repeat: no-repeat;
		background-position: top center;
	}

	.left {
        width: 1200px;
        height: 800px;
		bottom: 0;
		left: 0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
        background-repeat: no-repeat;
	}

	.right {
        width: 100%;
        height: 100%;
		right: 0;
		bottom: 0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
        background-repeat: no-repeat;
		background-position: right bottom;
	}

	.right-repeat {
        width: 100%;
        height: 100%;
		right: 0;
		top: 0;
        background-repeat: no-repeat;
		background-position: right top;
	}

	.widget-slot {
		position:absolute;
		z-index: 4;
		overflow: hidden;
	}

	.slot-0 {
		top: 5px;
		width: 600px;
		height: 100px;
	}

	.slot-1 {
		top: 100px;
		left: 100px;
		width: 100px;
		height:100px;
	}

	.slot-2 {
		top: 300px;
		left: 100px;
		width: 100px;
		height: 100px;
	}

	.slot-3 {
		top: 100px;
		left: 600px;
		width: 100px;
		height: 100px;
	}

	.slot-4 {
		top: 300px;
		left: 600px;
		width: 100px;
		height: 100px;
	}

	.slot-5 {
		bottom: 5px;
		width: 600px;
		height: 100px;
	}

	.slot-6 {
		width: 100px;
		height: 600px;
		right: 5px;
	}
}

@import './views/widgets/promo-article/PromoArticleWidgetView.scss';
