.room-spectator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
  background: url('@/assets/images/room-spectator/room_spectator_top_left.png') no-repeat top left,
              url('@/assets/images/room-spectator/room_spectator_top_right.png') no-repeat top right,
              url('@/assets/images/room-spectator/room_spectator_bottom_right.png') no-repeat bottom right,
              url('@/assets/images/room-spectator/room_spectator_bottom_left.png') no-repeat bottom left,
              url('@/assets/images/room-spectator/room_spectator_middle_left.png') repeat-y left,
              url('@/assets/images/room-spectator/room_spectator_middle_top.png') repeat-x top,
              url('@/assets/images/room-spectator/room_spectator_middle_right.png') repeat-y right,
              url('@/assets/images/room-spectator/room_spectator_middle_bottom.png') repeat-x bottom
  ;
}
/*
border-image-slice: 91 91 110 91 fill;
border-image-width: 79px 79px 79px 79px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: repeat repeat;
border-image-source: url('@/assets/images/room-spectator/room_spectator.png');
*/
