.nitro-floorplan-editor {
    width: 760px;
    height: 575px;

    .editor-area {
        width: 100%;
        height: 300px;
        min-height: 300px;
        overflow-x: scroll;
    }

    .color {
        height: 50px;
        width: 10px;
    }
}

.floorplan-import-export {
    width: 500px;
    height: 475px;
}
