.nitro-floorplan-editor
{
    width: 760px;
    height: 575px;

    .editor-area
    {
        width: 100%;
        height: 300px;
        overflow-x: scroll;
    }

    .set-tile
    {
        background-image: url('../../assets/images/floorplaneditor/icon-tile-set.png');
    }

    .unset-tile
    {
        background-image: url('../../assets/images/floorplaneditor/icon-tile-unset.png');
    }

    .increase-height
    {
        background-image: url('../../assets/images/floorplaneditor/icon-tile-up.png');
    }

    .decrease-height
    {
        background-image: url('../../assets/images/floorplaneditor/icon-tile-down.png');
    }

    .set-door
    {
        background-image: url('../../assets/images/floorplaneditor/icon-door.png');
    }
}
