.nitro-room-thumbnail-camera {
    width: 132px;
    height: 192px;
    background-image: url('../../../../../../assets/images/room-widgets/thumbnail-widget/thumbnail-camera-spritesheet.png');

    .camera-frame {
        position: absolute;
        width: 110px;
        height: 110px;
        margin-top: 38px;
        margin-left: 3px;
    }
}
