.profile-groups {
    height: 219px;

    .profile-groups-item {
        width: 50px;
        height: 50px;
        border-radius: $border-radius;
        border-color: $grid-border-color !important;
        background-color: $grid-bg-color;
        border: nth(map-values($border-widths), 2) solid;

        &.active {
            border-color: $grid-active-border-color !important;
            background-color: $grid-active-bg-color !important;
        }

        .icon {
            z-index: 1;
            top: 0px;
            right: 0px;
        }
    }
}
