.nitro-help {
    height: $help-height;
    width: $help-width;

    .index-image {
        background: url('../../assets/images/help/help_index.png');
        width: 126px;
        height: 105px;
    }
}

.nitro-cfh-sanction-status {
    width: 400px;
}

.nitro-change-username {
    width: 300px;
}
