.nitro-card-header {
    min-height: $nitro-card-header-height;
    max-height: $nitro-card-header-height;

    .bg-tertiary-split {
        border: 2px solid darken($quaternary, 4);
        box-shadow: 0 0 0 2px $white;
        width: 100%;
        margin: 0 30px;
    }
}
