.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }
}
