.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }
}
