.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
		background-repeat: no-repeat;
        width: 129px;
        height: 181px;
    }
	.empty-petsimage {
        background: url('../../assets/images/inventory/petsempty.png');
		background-repeat: no-repeat;
        width: 220px;
        height: 220px;
    }
	.empty-furniimage {
        background: url('../../assets/images/inventory/furniempty.png');
		background-repeat: no-repeat;
        width: 220px;
        height: 220px;
    }
	.empty-botsimage {
        background: url('../../assets/images/inventory/botsempty.png');
		background-repeat: no-repeat;
        width: 220px;
        height: 220px;
    }
	
	.bubble-inventory {
		position: relative;
		font-family: sans-serif;
		font-size: 14px;
		line-height: 5px;
		width: auto;
		background: #fff;
		border-radius: 15px;
		padding: 5px;
		text-align: left;
		color: #000;
		}
	.bubble-inventory-bottom-left:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 15%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		border-right: 0;
		margin-left: -10px;
		margin-bottom: -20px;
	}
	
    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }
}
