.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('@/assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .tab-icon {
        width:18px;
        height:18px;
        background-position: center;
        background-repeat: no-repeat;

        &.tab-inventory-furni {
            background-image: url(@/assets/images/fusion/inventory/furni.png);
        }

        &.tab-inventory-bots {
            background-image: url(@/assets/images/fusion/inventory/bots.png);
        }

        &.tab-inventory-furni-tab-pets {
            background-image: url(@/assets/images/fusion/inventory/pets.png);
        }

        &.tab-inventory-badges {
            background-image: url(@/assets/images/fusion/inventory/ach.png);
        }
    }
}
