.nitropedia {
    width: $nitropedia-width;
    height: $nitropedia-height;

    h1 {
        font-weight: bold;
        font-size: 23px;
        color: #fc6204;
    }
    
    h2 {
        font-weight: bold;
        font-size: 19px;
        color: #fc6204;
    }
    
    h3 {
        font-weight: bold;
        font-size: 15px;
        color: #fc6204;
    }
    
    p {
        font-size: 12px;
    }
    
    a {
        font-weight: bold;
        color: #fc6204;
        text-decoration: underline;
    }
    
    .bullet-item {
        margin-left: 7px;
        text-indent: -7px;
    }
    
    .padding-top {
        font-size: 1px;
        line-height: 10px;
    }
    
    .padding-bottom {
        font-size: 1px;
        line-height: 5px;
    }
}
