.room-preview-container {
    position: relative;
    width: 100%;

    .room-preview-image {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        background-color: $light;
        background-repeat: no-repeat;
        background-position: center;
    
        &.border-0 {
            &::after {
                content: none;
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: $border-radius;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            box-shadow: -2px -2px rgba(0, 0, 0, .4), inset 3px 3px rgba(0, 0, 0, .2);
        }
    }
}
