.nitro-hc-center {
    width: 430px;
    resize: none;

    .hc-logo {
        width: 213px;
        height: 37px;
        background-image: url('@/assets/images/hc-center/hc_logo.gif');
    }

    .payday-special {
        height: 128px;
    }

    .payday {
        width: 222px;
        height: 150px;
        background-image: url('@/assets/images/hc-center/payday.png');
        z-index: 3;
        color: #6b3502;
    }

    .clock {
        width: 24px;
        height: 24px;
        background-image: url('@/assets/images/hc-center/clock.png');
    }

    .streak-info {
        min-height: 64px;
        line-height: 16px;
    }

    .habbo-avatar {
        z-index: 4;
    }

    .benefits {
        background-image: url('@/assets/images/hc-center/benefits.png');
        background-position: right top;
        background-repeat: no-repeat;
        height: 100%;
    }
}
