.nitro-room-widgets {
    pointer-events: none;
}

.nitro-widget-custom-stack-height {
    width: $nitro-widget-custom-stack-height-width;
    height: $nitro-widget-custom-stack-height-height;
}

.nitro-room-widget-toner {
    width: 190px;
}

.nitro-room-widget-dimmer {
    width: 275px;

    .dimmer-banner {
        width: 56px;
        height: 79px;
        background: url("../../../../assets/images/room-widgets/dimmer-widget/dimmer_banner.png")
            center no-repeat;
    }

    .color-swatch {
        height: 30px;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, 0.2);

        &.active {
            box-shadow: none;
        }
    }
}

.nitro-widget-exchange-credit {
    width: $nitro-widget-exchange-credit-width;
    height: $nitro-widget-exchange-credit-height;

    .exchange-image {
        background-image: url("../../../../assets/images/room-widgets/exchange-credit/exchange-credit-image.png");
        width: 103px;
        height: 103px;
    }
}

.nitro-external-image-widget {
    .picture-preview {
        width: 320px;
        height: 320px;
    }
}

.nitro-gift-opening {
    width: 340px;
    resize: none;
}

.nitro-mannequin {
    width: 300px;

    .mannequin-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83px;
        height: 130px;
        background-image: url("../../../../assets/images/room-widgets/mannequin-widget/mannequin-spritesheet.png");
        overflow: hidden;

        .avatar-image {
            background-position: unset;
            top: -8px;
        }
    }
}

.nitro-stickie {
    position: relative;
    width: 185px;
    height: 178px;
    top: 25px;
    left: 25px;
    padding: 1px;
    pointer-events: all;

    .stickie-header {
        width: 183px;
        height: 18px;
        padding: 0 7px;

        .header-trash,
        .header-close {
            cursor: pointer;
        }

        .stickie-color {
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
    }

    .stickie-context {
        width: 183px;
        height: 145px;
        padding: 2px 7px;
        font-size: 12px;
        color: $black;

        .context-text {
            width: 100%;
            height: 100%;
            padding: 0;
            overflow-wrap: break-word;
            white-space: break-spaces;
            overflow-y: auto;
        }

        textarea {
            background: transparent;
            border: 0;
            outline: none;
            box-shadow: none;
            resize: none;
            font-style: italic;

            &:active {
                border: 0;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.nitro-stickie-image {
    background-image: url("../../../../assets/images/room-widgets/stickie-widget/stickie-spritesheet.png");

    &.stickie-blue,
    &.stickie-yellow,
    &.stickie-green,
    &.stickie-pink {
        width: 185px;
        height: 178px;
    }

    &.stickie-blue {
        background-position: -2px -2px;
    }

    &.stickie-yellow {
        background-image: url("../../../../assets/images/room-widgets/stickie-widget/stickie-yellow.png");
        //background-position: -191px -184px;
    }

    &.stickie-green {
        background-position: -191px -2px;
    }

    &.stickie-pink {
        background-position: -2px -184px;
    }

    &.stickie-close {
        width: 10px;
        height: 10px;
        background-position: -2px -366px;
    }

    &.stickie-trash {
        width: 9px;
        height: 10px;
        background-position: -16px -366px;
    }
}

@import "./friend-furni/FurnitureFriendFurniView";
@import "./high-score/FurnitureHighScoreView";
@import "./youtube-tv/FurnitureYoutubeDisplayView";
