.nitro-group-members {
    width: 400px;

    .group-badge {
        width: 50px;
        height: 50px;
    }

    .members-list {
        .list-member {
            border: 1px solid #ced4da;

            .avatar-head {
                position: relative;
                overflow: hidden;
                width: 40px;
                height: 50px;
    
                .avatar-image {
                    position: absolute;
                    left: -25px;
                    top: -20px;
                }
            }
        }
    }
}
