.nitro-stickie {
    position: relative;
    width: 185px;
    height: 178px;
    top: 25px;
    left: 25px;
    padding: 1px;
    pointer-events: all;

    .stickie-header {
        width: 183px;
        height: 18px;
        padding: 0 7px;

        .header-trash,
        .header-close {
            cursor: pointer;
        }

        .stickie-color {
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
    }

    .stickie-context {
        width: 183px;
        height: 145px;
        padding: 2px 7px;
        font-size: 12px;
        color: $black;

        .context-text {
            width: 100%;
            height: 100%;
            padding: 0;
            overflow-wrap: break-word;
            white-space: break-spaces;
            overflow-y: auto;
        }

        textarea {
            background: transparent;
            border: 0;
            outline: none;
            box-shadow: none;
            resize: none;
            font-style: italic;

            &:active {
                border: 0;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.nitro-stickie-image {
    background-image: url('../../../../../assets/images/room-widgets/stickie-widget/stickie-spritesheet.png');

    &.stickie-blue,
    &.stickie-yellow,
    &.stickie-green,
    &.stickie-pink {
        width: 185px;
        height: 178px;
    }

    &.stickie-blue {
        background-position: -2px -2px;
    }

    &.stickie-yellow {
        background-image: url('../../../../../assets/images/room-widgets/stickie-widget/stickie-yellow.png');
        //background-position: -191px -184px;
    }

    &.stickie-green {
        background-position: -191px -2px;
    }

    &.stickie-pink {
        background-position: -2px -184px;
    }
    
    &.stickie-close {
        width: 10px;
        height: 10px;
        background-position: -2px -366px;
    }
    
    &.stickie-trash {
        width: 9px;
        height: 10px;
        background-position: -16px -366px;
    }
}
