.nitro-guide-tool {
    width: 250px;

    .duty-status {
        border-radius: 0.25rem;
        border-color: #B6BEC5 !important;
        background-color: #CDD3D9;
        border: 2px solid;
    }

    .duty-switch {
        width: 38px;
        height: 21px;
        cursor: pointer;
        background-image: url(../../assets/images/guide-tool/guide_tool_duty_switch.png);

        &.off {
            background-position: 0px -22px;
        }
    }

    .info-icon {
        width: 23px;
        height: 24px;
        background-image: url(../../assets/images/guide-tool/guide_tool_info_icon.png);
    }
    

    @import './views/user-create-request/GuideToolUserCreateRequestView';
    @import './views/ongoing/GuideToolOngoingView';
}
