.nitro-toolbar,
.nitro-friendbar {
    position: absolute;
    left: 0;
    right:0;
    width: 100%; 
    z-index: $toolbar-zindex;
    background: repeating-linear-gradient($f-grey, $f-grey 50%, $f-grey-sec 50%, $f-grey-sec 100%);
    border-bottom:1px solid black;
    border-top:1px solid black;
    box-shadow: inset 0 1px lighten($f-grey, 10%), inset 0 -1px lighten($f-grey-sec, 10%);
    pointer-events: all;
    

    &::before {
        content:'';
        position: absolute;
        height:1px;
        top:0;
        bottom:0;
        left: 0;
        right:0;
        margin:auto;
        background: $f-grey-sec;
        box-shadow: 0 1px $f-grey;
        z-index: 1;
    }

    .tb-splitter {
        width:1px;
        background-color: black;
        box-shadow: 0px 1px 0 lighten($f-grey, 10%), 0px -1px 0 darken($f-grey-sec, 10);
        height: 33px;
    }

    .btn {
        filter: drop-shadow(0px 1px 0 lighten($f-grey, 10%)) drop-shadow(0px -1px 0 darken($f-grey-sec, 10));
        &:not(:disabled) {
            pointer-events: all;
        }
    }

    > *  {
        z-index: 2;
    }

    .navigation-item {
        position: relative;
        z-index: 40;

        filter: drop-shadow(0px 1px 0 lighten($f-grey, 10%)) drop-shadow(0px -1px 0 darken($f-grey-sec, 10));

        &.item-avatar {
            width: 50px;
            height: 45px;
            overflow: hidden;
    
            .avatar-image {
                margin-left: -5px;
                margin-top: 40px;
            }
        }

        &:hover {
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
            filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
        }

        &.active,
        &:active {
            -webkit-transform: unset;
            transform: unset;
            filter: none;
        }
    }
}

.nitro-friendbar{
    bottom:0;
}


.nitro-toolbar {
    top:0;
}

.nitro-toolbar-me {
    position: absolute;
    bottom: 60px;
    left: 15px;
    z-index: $toolbar-memenu-zindex;
    background: rgba(20, 20, 20, .95);
    border: 1px solid #101010;
    box-shadow: inset 2px 2px rgba(255, 255, 255, .1), inset -2px -2px rgba(255, 255, 255, .1);
    border-radius: $border-radius;

    .navigation-item {
        transition: filter .2s ease-out;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1))
        drop-shadow(-2px 1px 0 rgba($white, 1))
        drop-shadow(0 -2px 0 rgba($white, 1));
}
