.nitro-toolbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    z-index: $toolbar-zindex;
    
    .nitro-toolbar {
        height: 100%;
        pointer-events: all;
        background: rgba($dark,.95);
        box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);

        #toolbar-chat-input-container {
            margin: 0 10px;

            @include media-breakpoint-down(sm) {
                 width: 0px;
                 height: 0px
            }
        }

        .navigation-items {
            display: flex;
            align-items: center;

            &.navigation-avatar {
                border-right: 1px solid rgba(0, 0, 0, .3);
            }

            .navigation-item {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                //margin: 0 1px;
                position: relative;

                &.item-avatar {
                    width: 50px;
                    height: 45px;
                    overflow: hidden;
                    
                    .avatar-image {
                        margin-left: -5px;
                        margin-top: 25px;
                    }
                }

                .icon,
                &.item-avatar {
                    position: relative;
                    //transition: transform .2s ease-out;

                    &:hover, &.active {
                        -webkit-transform: translate(-1px, -1px);
                        transform: translate(-1px, -1px);
                        filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
                    }
                }

                .avatar-image {
                    pointer-events: none;
                }

                .chat-input-container {
                    left: 60px;
                }

                .count {
                    top: 0rem;
                    right: 2px;
                    font-size: 10px;
                }
            }
        }

        .nitro-toolbar-me-menu {
            bottom: 77px;
            left: 200px;
            position: absolute;
            font-size: 12px;
            z-index: $toolbar-memenu-zindex;
        
            .list-group {
        
                .list-group-item {
                    min-width: 70px;
                    transition: all .3s;
                    font-size: 10px;
                    text-align: center;
        
                    i {
                        filter: grayscale(1);
                    }
        
                    &:hover {
                        color: $cyan;
                        text-decoration: underline;
        
                        i {
                            filter: grayscale(0);
                        }
                    }
        
                    .count {
                        top: 0px;
                        right: 5px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1)) drop-shadow(-2px 1px 0 rgba($white, 1)) drop-shadow(0 -2px 0 rgba($white, 1));
}

@import './me/ToolbarMeView';
