.nitro-guide-tool {
    width: $nitro-guide-tool-width;

    .duty-switch {
        width: 38px;
        height: 21px;
        cursor: pointer;
        background-image: url('@/assets/images/guide-tool/guide_tool_duty_switch.png');

        &.off {
            background-position: 0px -22px;
        }
    }

    .info-icon {
        width: 23px;
        height: 24px;
        background-image: url('@/assets/images/guide-tool/guide_tool_info_icon.png');
    }

    .chat-messages {
        height: 200px;

        .message-avatar {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 50px;

            .avatar-image {
                position: absolute;
                margin-left: -22px;
                margin-top: -25px;
            }
        }

        .messages-group-left {
            position: relative;

            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-right: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                left: -8px;
            }
        }

        .messages-group-right {
            position: relative;

            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-left: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                right: -8px;
            }
        }
    }

    .request-message {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 90px;
        min-height: 90px;
        max-height: 90px;
        border: none;
        resize: none;
        outline: none;
        line-height: 17px;
    }

    .text-underline
    {
        text-decoration: underline;
    }
}
