.nitro-context-menu {
    width: 125px;
    max-width: 125px;
    padding: 2px;
    background-color: $gable-green;
    border: 2px solid rgba($white, 0.5);
    border-radius: $border-radius;
    font-size: $font-size-sm;
    z-index: $context-menu-zindex;
    pointer-events: all;

    &.name-only {
        background-color: rgba($black, 0.5);
        padding: 1px 8px;
        width: unset;
        text-align: center;
        font-size: 18px;
    }

    &:not(.name-only):after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        border-color: transparent rgba($white, 0.5) rgba($white, 0.5) transparent;
        border-style: solid;
        border-width: 5px;
    }

    .menu-header {
        background-color: $william;
        color: $white;
        min-width: 117px;
        height: 25px;
        max-height: 25px;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .menu-list-split-3 {

        .menu-item {
            margin-right: 2px;

            &:nth-child(3n+3) {
                margin-right: unset;
            }
        }
    }

    .menu-item {
        position: relative;
        margin-bottom: 2px;
        padding: 3px;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &.disabled {
            filter: brightness(0.7);
            cursor: not-allowed !important;
        }

        &.list-item {
            height: 24px;
            max-height: 24px;
            padding: 3px;
            background: $bg-mirage-split-background;
            cursor: pointer;

            &:not(.disabled):hover {
                background: $bg-cello-split-background;
            }

            .fas,
            .svg-inline--fa,
            .nitro-currency-icon {
                position: absolute;
                right: 8px;

                &.left {
                    left: 8px;
                    right: unset;
                }
            }
        }
    }
}
