.wordquiz-question {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    background: rgba($dark, 0.9);
    //box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);
    border-radius: $border-radius;
    transition: all 0.2s ease;
    
    .question {
        max-width: 300px;
    }
}

.word-quiz-dislike {
    background: url("../../../../assets/images/room-widgets/wordquiz-widget/thumbs-down.png");
    width: 31px;
    height: 34px;
}

.word-quiz-like {
    background: url("../../../../assets/images/room-widgets/wordquiz-widget/thumbs-up.png");
    width: 31px;
    height: 34px;
}

.word-quiz-dislike-sm {
    background: url("../../../../assets/images/room-widgets/wordquiz-widget/thumbs-down-small.png");
    width: 22px;
    height: 22px;
}

.word-quiz-like-sm {
    background: url("../../../../assets/images/room-widgets/wordquiz-widget/thumbs-up-small.png");
    height: 22px;
    width: 22px;
}
