.nitro-catalog-navigation {
    border-color: $grid-border-color !important;
    background-color: $grid-bg-color !important;

    .navigation-container {
        overflow-y: auto;
    }
}

@import './item/CatalogNavigationItemView';
@import './set/CatalogNavigationSetView';
