.nitro-catalog-navigation-grid-container {
    border-radius: 0.25rem;
    border-color: #B6BEC5 !important;
    background-color: #CDD3D9;
    border: 2px solid;

    .grid-item {
        font-size: $font-size-sm;
        height: 23px !important;
        border-color: unset !important;
        background-color: #CDD3D9;
        border: 0 !important;
        padding: 1px 3px;

        i.fas {
            color: $black;
            font-size: 10px;
            padding: 1px;
        }
    }
}
