.nitro-group-room-information {
    pointer-events: all;
    padding: 6px 5px;
    background-color: rgba($dark,.95);
    box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);
    font-size: $font-size-sm;
    margin-bottom: 5px;

    .group-badge {
        width: 50px;
        height: 50px;
    }
}
