.nitro-room-tools {
    position: absolute;
    bottom: 125px;
    left: -133px;
    background: rgba($dark,.95);
    box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    transition: all .2s ease;
    
    &.open {
        left: 0px;
    }

    .list-group-item {
        background: transparent;
        padding: 3px 0px;
        color: $white;
        border-color: rgba($black, 0.3);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &:first-child {
            padding-top: 8px;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 8px;
        }

        &.disabled {
            opacity: .5;
        }
    }
}
