.nitro-room-tools-container {
    position: absolute;
    bottom: $toolbar-height + 65px;
    left: 0;

    .nitro-room-tools {
        background: rgba($dark,.95);
        box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        transition: all .2s ease;
    
        .list-group-item {
            background: transparent;
            padding: 3px 0px;
            color: $white;
            border-color: rgba($black, 0.3);
            cursor: pointer;
    
            &:hover {
                text-decoration: underline;
            }
    
            &:first-child {
                padding-top: 8px;
            }
    
            &:last-child {
                border-bottom: none;
                padding-bottom: 8px;
            }
        
            .tools-item {
                .icon {
                    width: 22px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .nitro-room-tools-info {
        margin-left: 10px;
        background: rgba($dark,.95);
        box-shadow: inset 0px 5px lighten(rgba($dark,.6),2.5), inset 0 -4px darken(rgba($dark,.6),4);
        transition: all .2s ease;
        pointer-events: none;
        max-width: 250px;
    }
}
