.nitro-room-tools {
    position: fixed;
    bottom: 125px;
    left: -133px;
    background: rgba(20, 20, 20, .95);
    border: 1px solid #101010;
    box-shadow: inset 0px 2px rgba(255, 255, 255, .1), inset -2px -2px rgba(255, 255, 255, .1);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    transition: all .2s ease;
    
    &.open {
        left: 0px;
    }
}
