.nitro-navigator-result {

    &:hover {
        cursor: pointer;
    }
}

.nitro-navigator-result-list {
    .row {
        &.row-cols-1 {
            .col:nth-child(odd) {
                .nitro-navigator-result {
                    border-radius: $border-radius;
                    background: $secondary !important;
                }
            } 
        }

        &.row-cols-2 {
            .col {
                .nitro-navigator-result {
                    border-radius: $border-radius;
                    background: $secondary !important;
                }
            }
        }
    }
}
