.nitro-navigator-result {

    &:hover {
        cursor: pointer;
    }
}

.nitro-navigator-result-list {

    .nitro-navigator-result {
        border-radius: $border-radius;
        background: $secondary;
    }

    .row {

        &.row-cols-1 {

            .col:nth-child(even) {

                .nitro-navigator-result {
                    border-radius: $border-radius;
                    background: $primary !important;
                }
            } 
        }

        &.row-cols-2 {

            .col:nth-child(4n+3),
            .col:nth-child(4n+4) {
                .nitro-navigator-result {
                    border-radius: $border-radius;
                    background: $primary !important;
                }
            }
        }
    }
}
