.nitro-hotel-view {
    display: block;
	position: fixed;
	width: 100%;
	height: calc(100% - 55px);
	background: rgba($black, 1);
	color:#000;
	
	.avatar-image {
		bottom: 12px;
		left: 63px;
		position: absolute;
		z-index: 1;
	}

	.background {
		top:0;
		height: 100%;
		width: 100%;
		background-position: left;
		background-repeat: repeat-y;
	}

	.drape {
        width: 100%;
        height: 100%;
		left: 0px;
		top: 0;
		animation-iteration-count: 1;
		animation-name: slideDown;
		animation-duration: 1s;
		z-index: 3;
        background-repeat: no-repeat;
	}

	.sun {
        width: 100%;
        height: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
        background-repeat: no-repeat;
		background-position: top center;
	}

	.left {
        top:0;
		right:0;
		bottom: 0;
		left: 0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
        background-repeat: no-repeat;
		background-position: left bottom;
	}

	.right {
        width: 100%;
        height: 100%;
		right: 0;
		bottom: 0;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
        background-repeat: no-repeat;
		background-position: right bottom;
	}

	.right-repeat {
        width: 100%;
        height: 100%;
		right: 0;
		top: 0;
        background-repeat: no-repeat;
		background-position: right top;
	}

	.landing-widgets {
		z-index: 9;
		position: relative;

	}

	.widget-slot {
		z-index: 9;	
	}

	hr {
		background: $black;
		box-shadow: 0 1px rgba($white,.5);
		opacity: 0.5
	}
}

@import './views/widgets/HotelViewWidgets';
