.nitro-mannequin {
    width: 350px;

    .mannequin-preview {
        width: 83px;
        height: 130px;
        background-image: url('../../../../../assets/images/room-widgets/mannequin-widget/mannequin-spritesheet.png');
    }
}
