.nitro-catalog {
    width: 620px;

    .content-area {
        min-height: 350px;
        height: 350px;
        max-height: 700px;
        resize: vertical;
        overflow:auto;
    }
}

@import './views/CatalogViews';
