.widgetcontainer {
    .widgetcontainer-image {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: top center;
    }
}
