.catalog-navigation-item-container {

    .catalog-navigation-item {
        font-size: $font-size-sm;
        border-radius: $border-radius;

        i.fas {
            color: $black;
            font-size: 10px;
            padding: 1px;
        }

        &.active {
            padding: 1px 2px;
            background-color: $grid-active-bg-color;
        }
    }
}
