.game-center-stage {
    width: 100%;
    height: calc(100% - 55px);
    background-color: black;
    position: absolute;
    inset: 0;
}
.game-center-main {
    width: 1280px;
    height: calc(100% - 55px);
    background: #93d4f3;

    .game-view {
        background-position: bottom center;
        background-repeat: no-repeat;

        > div {
            color: inherit;
        }
    }

    .gameList-container {
        min-height: 107px;

        .game-icon {
            width: 83px;
            height: 83px;
            background-position: center;
            background-repeat: no-repeat;

            &.selected {
                position: relative;
                &::after {
                    content: "";
                    background-image: url("../../assets/images/gamecenter/selectedIcon.png");
                    width: 83px;
                    height: 83px;
                    position: absolute;
                    inset: 0;
                }
            }
        }
    }
}
