@media only screen and (max-width: 600px) {
    .nitro-chat-input {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 65px !important;
        z-index: $chatinput-zindex;
    }
}

.nitro-chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    background: #EDEDED;
    padding-right: 30px;
    width: 100%;

    &:before {
        content: "";
        position: absolute;
        width: 98%;
        height: 5px;
        border-radius: 8px;
        top: 1px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgb(255, 255, 255);
        z-index: 1;
    }

    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;
        
        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }
        
        &::after {
            content: attr(data-value) '  ';
            visibility: hidden;
            white-space: pre-wrap;
        }
    }
}

@import './style-selector/ChatInputStyleSelectorView';
