.nitro-chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    background: #EDEDED;
    padding-right: 10px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        display: flex;
        position: absolute;
        bottom: 70px;
        left: calc(100% / 3);
        width: 200px;
    }

    &:before {
        content: "";
        position: absolute;
        width: 98%;
        height: 5px;
        border-radius: 8px;
        top: 1px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgb(255, 255, 255);
        z-index: 1;
    }

    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;
        
        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }
        
        &::after {
            content: attr(data-value) '  ';
            visibility: hidden;
            white-space: pre-wrap;
        }
    }

    .bubble-container {
        visibility: visible;
        width: 75%;
    }
}

.nitro-chat-style-selector-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 7px;
}

.nitro-chat-style-selector-container {
    width: $chat-input-style-selector-widget-width;
    max-height: $chat-input-style-selector-widget-height;

    .content-area {
        max-height: $chat-input-style-selector-widget-height !important;
    }

    .grid-item {
        font-size: $font-size-sm;
        height: 30px !important;
        border-color: unset !important;
        border: 0 !important;
        padding: 1px 3px;

        &:not(.active) {
            background-color: unset !important;
        }

        .bubble-container {
            visibility: visible;
            width: 75%;
        }
    }
}
