.nitro-groups {
    .badge-preview {
        position: relative;
        width: 50px;
        height: 50px;
        background: $white;
        border-radius: $border-radius;
    
        &.active {
            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-top: 10px solid white;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                bottom: -10px;
            }
        }
    }
    
    .group-color-swatch {
        width: 30px;
        height: 40px;
    
        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    
        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

@import './tab-badge/GroupSharedTabBadgeView';
@import './tab-colors/GroupSharedTabColorsView';
