.limited-edition-info-container {
    position: absolute;
    top: 5px;
    right: 15px;
}

@import './item/InventoryFurnitureItemView';
@import './results/InventoryFurnitureResultsView';
@import './search/InventoryFurnitureSearchView';
