.nitro-mod-tools-user {
    width: 350px;
    height: 370px;

    .username {
        color: #1E7295;
        text-decoration: underline;
    }

    .table {
        color: $black;

        > :not(caption) > * > * {
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        &.table-striped > tbody > tr:nth-of-type(odd) {
            color: $black;
            background: rgba(0, 0, 0, .05);
        }
    }
}
