.nitro-catalog-layout-vip-buy {

    .vip-buy-grid {

        .grid-item-container {
            height: 80px !important;
            max-height: 80px !important;
        }

        .hc-banner {
            width: 68px;
            height: 40px;
            background: url(../../../../../../assets/images/catalog/hc_big.png) center no-repeat;
        }
    }
}
