.nitro-friends-messenger {
    width: $messenger-width;
    height: $messenger-height;

    .open-chat-entry {
        position: relative;
        border: 2px solid;
        border-color: $light;

        &.active {
            border-color: #fffde9;
            background-color: #ececec
        }

        .friend-head {
            width: 45px;
            height: 45px;
            overflow: hidden;
    
            .avatar-image {
                position: absolute;
                margin-left: -27px;
                margin-top: -27px;
            }
        }
    }

    .chat-title {
        margin-top: -21px;
    }

    .chat-messages {
        overflow-y: auto;

        .message-avatar {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 50px;

            .avatar-image {
                position: absolute;
                margin-left: -22px;
                margin-top: -25px;
            }
        }

        .messages-group-left {
            position: relative;
            
            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-right: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                left: -8px;
            }
        }

        .messages-group-right {
            position: relative;
            
            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-left: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                right: -8px;
            }
        }
    }
}
