.nitro-chooser-widget {
    

    .chooser-container {
        min-height: 150px;

        .list-item {
            color: black;
            overflow: hidden;
    
            &.selected {
                background-color: cadetblue;
            }
        }
    }
}
