.nitro-avatar-editor-spritesheet {
    background: url('@/assets/images/avatareditor/avatar-editor-spritesheet.png') transparent no-repeat;

    &.arrow-left-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -131px;
    }
    
    &.arrow-right-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -162px;
    }
    
    &.ca-icon {
        width: 25px;
        height: 25px;
        background-position: -226px -61px;

        &.selected {
            width: 25px;
            height: 25px;
            background-position: -226px -96px;
        }
    }
    
    &.cc-icon {
        width: 31px;
        height: 29px;
        background-position: -145px -5px;

        &.selected {
            width: 31px;
            height: 29px;
            background-position: -145px -44px;
        }
    }
    
    &.ch-icon {
        width: 29px;
        height: 24px;
        background-position: -186px -39px;

        &.selected {
            width: 29px;
            height: 24px;
            background-position: -186px -73px;
        }
    }
    
    &.clear-icon {
        width: 27px;
        height: 27px;
        background-position: -145px -157px;
    }
    
    &.cp-icon {
        width: 30px;
        height: 24px;
        background-position: -145px -264px;

        &.selected {
            width: 30px;
            height: 24px;
            background-position: -186px -5px;
        }
    }

    
    &.ea-icon {
        width: 35px;
        height: 16px;
        background-position: -226px -193px;

        &.selected {
            width: 35px;
            height: 16px;
            background-position: -226px -219px;
        }
    }
    
    &.fa-icon {
        width: 27px;
        height: 20px;
        background-position: -186px -137px;

        &.selected {
            width: 27px;
            height: 20px;
            background-position: -186px -107px;
        }
    }
    
    &.female-icon {
        width: 18px;
        height: 27px;
        background-position: -186px -202px;

        &.selected {
            width: 18px;
            height: 27px;
            background-position: -186px -239px;
        }
    }
    
    &.ha-icon {
        width: 25px;
        height: 22px;
        background-position: -226px -245px;

        &.selected {
            width: 25px;
            height: 22px;
            background-position: -226px -277px;
        }
    }
    
    &.he-icon {
        width: 31px;
        height: 27px;
        background-position: -145px -83px;

        &.selected {
            width: 31px;
            height: 27px;
            background-position: -145px -120px;
        }
    }
    
    &.hr-icon {
        width: 29px;
        height: 25px;
        background-position: -145px -194px;

        &.selected {
            width: 29px;
            height: 25px;
            background-position: -145px -229px;
        }
    }
    
    &.lg-icon {
        width: 19px;
        height: 20px;
        background-position: -303px -45px;

        &.selected {
            width: 19px;
            height: 20px;
            background-position: -303px -75px;
        }
    }

    &.loading-icon {
        width: 21px;
        height: 25px;
        background-position: -186px -167px;
    }
    

    &.male-icon {
        width: 21px;
        height: 21px;
        background-position: -186px -276px;

        &.selected {
            width: 21px;
            height: 21px;
            background-position: -272px -5px;
        }
    }
    

    &.sellable-icon {
        width: 17px;
        height: 15px;
        background-position: -303px -105px;
    }
    

    &.sh-icon {
        width: 37px;
        height: 10px;
        background-position: -303px -5px;

        &.selected {
            width: 37px;
            height: 10px;
            background-position: -303px -25px;
        }
    }
    

    &.spotlight-icon {
        width: 130px;
        height: 305px;
        background-position: -5px -5px;
    }
    

    &.wa-icon {
        width: 36px;
        height: 18px;
        background-position: -226px -5px;

        &.selected {
            width: 36px;
            height: 18px;
            background-position: -226px -33px;
        }
    }
}

.nitro-avatar-editor-wardrobe-figure-preview {
    background-color: $pale-sky;
    overflow: hidden;
    z-index: 1;

    .avatar-image {
        position: absolute;
        bottom: -15px;
        margin: 0 auto;
        z-index: 4;
    }

    .avatar-shadow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        width: 40px;
        height: 20px;
        margin: 0 auto;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        z-index: 2;
    }

    &:after {
        position: absolute;
        content: '';
        top: 75%;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        background-color: $pale-sky;
        box-shadow: 0 0 8px 2px rgba($white,.6);
        transform: scale(2);
    }

    .button-container {
        position: absolute;
        bottom: 0;
        z-index: 5;
    }
}

.nitro-avatar-editor {
    width: $avatar-editor-width;
    height: $avatar-editor-height;

    .category-item {
        height: 40px;
    }

    .figure-preview-container {
        position: relative;
        height: 100%;
        background-color: $pale-sky;
        overflow: hidden;
        z-index: 1;

        .arrow-container {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            bottom: 12px;
            z-index: 5;
    
            .icon {
                cursor: pointer;
            }
        }

        .avatar-image {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
            margin: 0 auto;
            z-index: 4;
        }

        .avatar-spotlight {
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0.3;
            pointer-events: none;
            z-index: 3;
        }

        .avatar-shadow {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            width: 70px;
            height: 30px;
            margin: 0 auto;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.20);
            z-index: 2;
        }

        &:after {
            position: absolute;
            content: '';
            top: 75%;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            background-color: $pale-sky;
            box-shadow: 0 0 8px 2px rgba($white,.6);
            transform: scale(2);
        }
    }
}
