.nitro-purse {
    padding: 2px;
    background-color: #1c323f;
    border: 2px solid rgba($white, 0.5);
    border-top:0;
    font-size: $font-size-sm;
    z-index: $context-menu-zindex;
    

    .notification-button {
        color:lighten($dark,20);
        cursor: pointer;
        font-size: 0.9rem;
        pointer-events: all;
        display: none
    }
}

@import './currency/CurrencyView';
