.nitro-purse {
    background-color: rgba($dark, 0.95);
    font-size: $font-size-sm;
    pointer-events: all;
    margin-bottom: 5px;
    padding: 6px 5px;
    box-shadow: inset 0px 5px lighten(rgba($dark, 0.6), 2.5),
        inset 0 -4px darken(rgba($dark, 0.6), 4);

    .notification-button {
        color: lighten($dark, 20);
        cursor: pointer;
        font-size: 0.9rem;
        pointer-events: all;
        display: none;
    }

    .nitro-purse-hc {
        background-color: rgba($light, 0.1);
        margin: 0 5px;
    }

    .nitro-purse-button {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 2px 3px;
        border-radius: $border-radius;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: rgba($light, 0.1);
            cursor: pointer;
        }
    }
}

@import "./views";
