.nitro-purse {
    padding: 2px;
    background-color: #1c323f;
    border: 2px solid rgba($white, 0.5);
    border-top: 0;
    font-size: $font-size-sm;
    pointer-events: all;
    margin-bottom:5px;
    

    .notification-button {
        color:lighten($dark,20);
        cursor: pointer;
        font-size: 0.9rem;
        pointer-events: all;
        display: none
    }

    .nitro-purse-hc {
        background-color: #3d5f6e;
        margin:0 2px;
    }

    .nitro-purse-button {
        background: $bg-mirage-split-background;

        &:not(:first-child) {
            margin-top:2px;
        }

        &:hover {
            background: $bg-cello-split-background;
        }
    }
}

@import './views';
