.badge-image {
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    
    .badge-information {
        display: none;
    }

    &:hover {
        .badge-information {
            display: block;
        }
    }

    @import './badge-info/BadgeInformationView';
}
