.badge-image {
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;

    &.group-badge {
        width: 39px;
        height: 39px;

        &.scale-2 {
            width: 80px;
            height: 80px;
        }
    }
    
    .badge-information {
        display: none;
    }

    &:hover {
        .badge-information {
            display: block;
        }
    }

    @import './badge-info/BadgeInformationView';
}
