.nitro-alert {
    width: 350px;

    .content-area {
        min-height: 125px;
        max-height: 300px;
    }
}

.nitro-notification-center {

    .notification-bubble {
        pointer-events: all;
        padding: 2px;
        background-color: $gable-green;
        border: 2px solid rgba($white, 0.5);
        font-size: $font-size-sm;
        margin-bottom: 5px;
    }
}

.nitro-notification-center-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100% - #{$toolbar-height});
    z-index: $notification-center-zindex;
    pointer-events: none;

    .nitro-notification-center {
        background-color: $dark;
        height: 100%;
        pointer-events: all;
    }
}
