.nitro-notification-center-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100% - #{$toolbar-height});
    z-index: $notification-center-zindex;
    pointer-events: none;

    .nitro-notification-center {
        background-color: $dark;
        height: 100%;
        pointer-events: all;
    }
}
