.room-model-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    > div {
        border-color: $grid-border-color !important;
        background-color: $grid-bg-color;
    
        &.active {
            border-color: $grid-active-border-color !important;
            background-color: $grid-active-bg-color;
        }

        &.disabled {
            cursor: not-allowed;

            img {
                opacity: .5;
                filter: grayscale(1);
            }
        }
    }
}
