.nitro-widget-doorbell {
    width: 250px;

    .content-area {
        min-height: 143px;
        height: 143px;
    }

    .doorbell-user-list {

        .list-item {
            background: $grid-active-bg-color;
        }

        .col:nth-child(even) {

            .list-item {
                background: $white !important;
            }
        }
    }
}
