.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-height: 50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border-radius;
    border-color: $grid-border-color !important;
    background-color: $grid-bg-color;
    border: nth(map-values($border-widths), 2) solid;

    &.active {
        border-color: $grid-active-border-color !important;
        background-color: $grid-active-bg-color !important;
    }

    &.unseen {
        background-color: rgba($success, 0.4);
    }

    .avatar-image {
        background-position-y: 10px;
    }

    .trade-button {
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: 5px;
        padding: 3px;
        min-height: unset;

        &.left {
            right: unset;
            left: 2px;
        }
    }
}
