.grid-item-container {
    height: 48px;
    max-height: 48px;

    .grid-item {
        width: 100%;
        height: 100%;
        border-color: $grid-border-color !important;
        background-color: $grid-bg-color  !important;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    
        &.active {
            border-color: $grid-active-border-color !important;
            background-color: $grid-active-bg-color !important;
        }
    
        .badge {
            top: 2px;
            right: 2px;
            font-size: 8px;
        }

        .avatar-image {
            width: 100% !important;
            height: 100% !important;
            background-position: center;
            background-repeat: no-repeat;
            background-position-y: -32px !important;
        }

        .trade-button {
            position: absolute;
            bottom: 2px;
            right: 2px;
            font-size: 5px;
            padding: 3px;
            min-height: unset;

            &.left {
                right: unset;
                left: 2px;
            }
        }
    }
}
