.nitro-friends-spritesheet {
    background: url('../../assets/images/friends/friends-spritesheet.png') transparent no-repeat;

    &.icon-friendbar-visit {
        width: 21px; height: 21px;
        background-position: -38px -5px;
    }
    
    &.icon-heart {
        width: 16px; height: 14px;
        background-position: -5px -67px;
    }
    
    &.icon-new-message {
        width: 14px; height: 14px;
        background-position: -96px -53px;
    }
    
    &.icon-none {
        width: 16px; height: 14px;
        background-position: -31px -67px;
    }
    
    &.icon-profile {
        width: 21px; height: 21px;
        background-position: -5px -36px;
    }
    
    &.icon-profile-sm {
        width: 13px; height: 11px;
        background-position: -51px -91px;

        &:hover {
            width: 13px; height: 11px;
            background-position: -74px -91px;
        }
    }
    
    &.icon-smile {
        width: 16px; height: 14px;
        background-position: -57px -67px;
    }
    
    &.icon-warning {
        width: 23px; height: 21px;
        background-position: -5px -5px;
    }
    
    &.icon-accept {
        width: 13px; height: 14px;
        background-position: -5px -91px;
    }
    
    &.icon-add {
        width: 16px; height: 15px;
        background-position: -69px -31px;
    }
    
    &.icon-bobba {
        width: 16px; height: 14px;
        background-position: -96px -5px;
    }
    
    &.icon-chat {
        width: 17px; height: 16px;
        background-position: -69px -5px;
    }
    
    &.icon-deny {
        width: 13px; height: 14px;
        background-position: -28px -91px;
    }
    
    &.icon-follow {
        width: 16px; height: 14px;
        background-position: -96px -29px;
    }
    
    &.icon-friendbar-chat {
        width: 20px; height: 21px;
        background-position: -36px -36px;
    }
}

.nitro-friends {
    width: $friends-list-width;
    height: $friends-list-height;

    .search-input {
        border: 0;
        border-bottom: 1px solid rgba($black, 0.2);
    }
}

@import "./views/friend-bar/FriendBarView";
@import "./views/messenger/FriendsMessengerView";
