.nitro-widget-exchange-credit {
    width: $nitro-widget-exchange-credit-width;
    height: $nitro-widget-exchange-credit-height;

    .exchange-image {
        background-image: url('../../../../../assets/images/room-widgets/exchange-credit/exchange-credit-image.png');
        width: 103px;
        height: 103px;
    }
}
