.nitro-exchange-credit {

    .exchange-image {
        background-image: url('../../../../../assets/images/room-widgets/exchange-credit/exchange-credit-image.png');
        width: 103px;
        height: 103px;
    }
}
