.nitro-card-grid {
    width: 100%;

    .row-cols-3 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(3n+3) {
                padding-right: 0;
            }
        }
    }

    .row-cols-4 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(4n+4) {
                padding-right: 0;
            }
        }
    }
    
    .row-cols-5 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(5n+5) {
                padding-right: 0;
            }
        }
    }

    .row-cols-6 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(6n+6) {
                padding-right: 0;
            }
        }
    }

    .row-cols-7 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(7n+7) {
                padding-right: 0;
            }
        }
    }

    .row-cols-8 {

        .col {
            padding-right: 0.25rem;

            &:nth-child(8n+8) {
                padding-right: 0;
            }
        }
    }

    @import './item/NitroCardGridItemView.scss';
}
