.nitro-seasonal-currency {
    pointer-events: all;
    padding: 2px;
    background-color: #1c323f;
    border: 2px solid rgba($white, 0.5);
    font-size: $font-size-sm;
    margin-bottom: 5px;

    .nitro-currency-text {
        background: $bg-mirage-split-background;
    }

    .nitro-seasonal-icon {
        background-color: #3d5f6e
    }
}
