.unique-compact-plate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    right: 16px;
    width: 34px;
    height: 37px;
    background: url("../../../../assets/images/unique/inventory-info-amount-bg.png");

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9.5px;
    }
}
