.nitro-catalog-layout-info-loyalty {

    .info-loyalty-content {
        background-repeat: no-repeat;
        background-position: top right;
        background-image: url('../../../../../../assets/images/catalog/diamond_info_illustration.gif');
        padding-right:123px;
    }

    .info-image {
        width: 123px;
        height:350px;
        background-image: url('../../../../../../assets/images/catalog/diamond_info_illustration.gif');
    }
}
