.nitro-toolbar-me {
    position: absolute;
    bottom: 65px;
    left: 15px;
    z-index: $toolbar-me-zindex;
    background: rgba(20, 20, 20, .95);
    border: 1px solid #101010;
    box-shadow: inset 2px 2px rgba(255, 255, 255, .1), inset -2px -2px rgba(255, 255, 255, .1);
    border-radius: $border-radius;

    .navigation-items {
        display: flex;
        align-items: center;

        &.navigation-avatar {
            border-right: 1px solid rgba(0, 0, 0, .3);
        }

        .navigation-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            width: 50px;
            font-size: 11px;

            .icon {
                transition: filter .2s ease-out;
                filter: grayscale(1);
            }

            &:hover {
                .icon {
                    filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
                }
            }
        }
    }
}
