.nitro-groups {
    .badge-preview {
        position: relative;
        width: 50px;
        height: 50px;
        background: $white;
        border-radius: $border-radius;
    
        &.active {
            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-top: 10px solid white;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                bottom: -10px;
            }
        }
    }
    
    .group-color-swatch {
        width: 30px;
        height: 40px;
    }
}

.shared-tab-badge {
    .position-swatch {
        position: relative;
        border-radius: $border-radius;
        width: 16px;
        height: 16px;
        background: $white;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

        &.active {
            background: $primary;
            box-shadow: none;
        }
    }

    .color-swatch {
        position: relative;
        border-radius: $border-radius;
        width: 16px;
        height: 16px;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

        &.active {
            box-shadow: none;
        }
    }

    .selection-list {
        height: 160px;
        min-height: 160px;
        max-height: 160px;
    }
}

.shared-tab-colors {

    .color-swatch {
        position: relative;
        border-radius: $border-radius;
        width: 15px;
        height: 15px;
        border: 2px solid $white;
        box-shadow: inset 2px 2px rgba(0, 0, 0, .2);

        &.active {
            box-shadow: none;
        }
    }
}
