.nitro-navigator {
    width: $navigator-width;
    height: $navigator-height;
}

.nitro-navigator-doorbell {
    width: 250px;

    .content-area {
        min-height: 143px;
        height: 143px;
    }
}

.nitro-navigator-password {
    width: 250px;

    .content-area {
        min-height: 218px;
        height: 218px;
    }
}

@import './views/NavigatorViews';
