.avatar-image {
    position: relative;
    width: 90px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center -8px;
    pointer-events: none;
    image-rendering: pixelated;

    &.scale-0-5,
    &.scale-0-75 {
        image-rendering: -webkit-optimize-contrast;
    }
}
