$toolbar-me-zindex: 90;
$chatinput-zindex: 80;
$toolbar-zindex: 70;
$rightside-zindex: 69;
$notification-center-zindex: 68;
$toolbar-memenu-zindex: 60;
$roomtools-zindex: 50;
$context-menu-zindex: 40;
$infostand-zindex: 30;
$chat-zindex: 20;
$highscore-zindex: 19;

$grid-bg-color: #CDD3D9;
$grid-border-color: $muted;
$grid-active-bg-color: #ECECEC;
$grid-active-border-color: $white;

$toolbar-height: 55px;

$achievement-width: 350px;
$achievement-height: 370px;

$avatar-editor-width: 620px;
$avatar-editor-height: 374px;

$catalog-width: 630px;
$catalog-height: 400px;

$inventory-width: 528px;
$inventory-height: 320px;

$navigator-width: 400px;
$navigator-height: 420px;

.nitro-app {
    width: 100%;
    height: 100%;
}

@import './layout/Layout';
@import './views/Styles';
