$toolbar-me-zindex: 90;
$chatinput-zindex: 80;
$toolbar-zindex: 70;
$rightside-zindex: 69;
$notification-center-zindex: 68;
$toolbar-memenu-zindex: 60;
$roomtools-zindex: 50;
$context-menu-zindex: 40;
$infostand-zindex: 30;
$chat-zindex: 20;
$highscore-zindex: 19;

$grid-bg-color: #cdd3d9;
$grid-border-color: $muted;
$grid-active-bg-color: #ececec;
$grid-active-border-color: $white;

$toolbar-height: 55px;

$achievement-width: 375px;
$achievement-height: 425px;

$avatar-editor-width: 620px;
$avatar-editor-height: 374px;

$catalog-width: 630px;
$catalog-height: 400px;

$inventory-width: 528px;
$inventory-height: 320px;

$navigator-width: 400px;
$navigator-height: 420px;

$chat-input-style-selector-widget-width: 200px;
$chat-input-style-selector-widget-height: 200px;

$user-profile-width: 560px;
$user-profile-height: 500px;

$nitro-widget-custom-stack-height-width: 275px;
$nitro-widget-custom-stack-height-height: 220px;

$nitro-widget-exchange-credit-width: 375px;
$nitro-widget-exchange-credit-height: 150px;

$chat-history-width: 300px;
$chat-history-height: 300px;

$friends-list-width: 250px;
$friends-list-height: 300px;

$help-width: 450px;
$help-height: 250px;

$nitropedia-width: 400px;
$nitropedia-height: 400px;

$messenger-width: 500px;
$messenger-height: 370px;

$marketplace-post-offer-width: 430px;
$marketplace-post-offer-height: 250px;

$camera-editor-width: 600px;
$camera-editor-height: 500px;

$camera-checkout-width: 350px;

$room-info-width: 325px;

$nitro-mod-tools-width: 175px;

.nitro-app {
    width: 100%;
    height: 100%;
}

@import './common';
@import "./layout/Layout";
@import './components';
@import "./views/Styles";
