@font-face {
    font-family: Ubuntu;
    src: url("@/assets/webfonts/Ubuntu-C.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    scrollbar-width: thin;
}

*,
*:focus,
*:hover {
    @apply outline-0;
}

::-webkit-scrollbar {
    width: .5rem
}

::-webkit-scrollbar:horizontal {
    height: .5rem
}

::-webkit-scrollbar:not(:horizontal) {
    width: .5rem
}

::-webkit-scrollbar-track:horizontal {
    border-bottom: .25rem solid rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:not(:horizontal) {
    border-right: .25rem solid rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:horizontal {
    border-bottom: .25rem solid rgba(30, 114, 149, .4)
}

::-webkit-scrollbar-thumb:horizontal:hover {
    border-bottom: .25rem solid rgba(30, 114, 149, .8)
}

::-webkit-scrollbar-thumb:horizontal:active {
    border-bottom: .25rem solid #185D79
}

::-webkit-scrollbar-thumb:not(:horizontal) {
    border-right: .25rem solid rgba(30, 114, 149, .4)
}

::-webkit-scrollbar-thumb:not(:horizontal):hover {
    border-right: .25rem solid rgba(30, 114, 149, .8)
}

::-webkit-scrollbar-thumb:not(:horizontal):active {
    border-right: .25rem solid #185D79
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, .1)
}

@layer components {
    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }
    }

    .dot {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: white;
        animation: blink 2s infinite;
    }

    .star {
        position: absolute;
        width: 10px;
        height: 10px;
        color: #ffffff;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: currentColor;
            width: 5px;
            height: 5px;
            -webkit-animation: blink 1s linear infinite;
            animation: blink 1s linear infinite;
        }

        .star-part {
            position: absolute;
            background-color: currentColor;

            &:nth-child(1) {
                top: 0;
                left: 50%;
                width: 1px;
                height: 100%;
                transform: translateX(-50%);
            }

            &:nth-child(2) {
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                transform: translateY(-50%);
            }
        }
    }

    .connecting-duck {
        @apply absolute inset-0 m-auto;
        background: url("@/assets/images/loading/connecting-duck-spritesheet.png") no-repeat top left;
        width: 235px;
        height: 127px;
        animation: connecting-duck 1.5s infinite step-end;
        transform: scale(0.5);
    }

    @keyframes connecting-duck {
        0% {
            background-position: 0 0;
            width: 235px;
            height: 127px;
        }

        15% {
            background-position: 0 -132px;
            width: 280px;
            height: 151px;
        }

        30% {
            background-position: 0 -288px;
            width: 326px;
            height: 174px;
        }

        45% {
            background-position: 0 -467px;
            width: 235px;
            height: 127px;
        }

        60% {
            background-position: 0 -599px;
            width: 280px;
            height: 151px;
        }

        75% {
            background-position: 0 -755px;
            width: 326px;
            height: 174px;
        }

        90% {
            background-position: 0 -934px;
            width: 190px;
            height: 104px;
        }
    }

    .toolbar {
        @apply relative;
        background: rgb(33, 33, 33);
        background: linear-gradient(0deg, rgba(33, 33, 33, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.05);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .avatar-image {
        @apply pointer-events-none relative h-[130px] w-[90px] bg-[center_-8px] bg-no-repeat;
    }

    .ubuntu-close-button {
        @apply inline-block h-[20px] w-[19px] bg-transparent bg-[0px_0px] bg-no-repeat outline-0;
        background-image: url("@/assets/images/ui/ubuntu-close-buttons.png");

        &:hover {
            @apply bg-[-38px];
        }

        &:active {
            @apply bg-[-19px];
        }
    }

    .nitro-icon {
        @apply inline-block bg-transparent bg-center bg-no-repeat outline-0;

        &:hover {
            @apply translate-x-[-1px] translate-y-[-1px] drop-shadow-hover
        }

        &:active {
            @apply transform-none filter-none
        }

        &.icon-nitro-light {
            background-image: url("@/assets/images/nitro/nitro-n-light.svg");
        }

        &.icon-nitro-dark {
            background-image: url("@/assets/images/nitro/nitro-n-dark.svg");
        }

        &.icon-nitro-light,
        &.icon-nitro-dark {
            width: 100%;
            height: 40px;
        }

        &.icon-catalog {
            background-image: url("@/assets/images/toolbar/icons/catalog.png");
            width: 37px;
            height: 36px;
        }

        &.icon-game {
            background-image: url("@/assets/images/toolbar/icons/game.png");
            width: 44px;
            height: 25px;
        }

        &.icon-rooms {
            background-image: url("@/assets/images/toolbar/icons/rooms.png");
            width: 44px;
            height: 30px;
        }

        &.icon-house {
            background-image: url("@/assets/images/toolbar/icons/house.png");
            height: 30px;
            width: 32px;
        }

        &.gray {
            opacity: 0.5;
        }

        &.icon-inventory {
            background-image: url("@/assets/images/toolbar/icons/inventory.png");
            height: 41px;
            width: 44px;
        }

        &.icon-modtools {
            background-image: url("@/assets/images/toolbar/icons/modtools.png");
            height: 34px;
            width: 29px;
        }

        &.icon-friendall {
            background-image: url("@/assets/images/toolbar/icons/friend_all.png");
            height: 33px;
            width: 32px;
        }

        &.icon-friendsearch {
            background-image: url("@/assets/images/toolbar/icons/friend_search.png");
            height: 33px;
            width: 29px;
        }

        &.icon-sendmessage {
            background-image: url("@/assets/images/toolbar/icons/sendmessage.png");
            width: 20px;
            height: 21px;
        }

        &.icon-me-talents {
            background-image: url("@/assets/images/toolbar/icons/me-menu/talents.png");
            width: 32px;
            height: 30px;
        }

        &.icon-me-helper-tool {
            background-image: url("@/assets/images/toolbar/icons/me-menu/helper-tool.png");
            width: 32px;
            height: 30px;
        }

        &.icon-me-profile {
            background-image: url("@/assets/images/toolbar/icons/me-menu/profile.png");
            width: 32px;
            height: 30px;
        }

        &.icon-me-forums {
            background-image: url("@/assets/images/toolbar/icons/me-menu/forums.png");
            width: 32px;
            height: 30px;
        }

        &.icon-me-rooms {
            background-image: url("@/assets/images/toolbar/icons/me-menu/my-rooms.png");
            width: 30px;
            height: 30px;
        }

        &.icon-me-achievements {
            background-image: url("@/assets/images/toolbar/icons/me-menu/achievements.png");
            width: 31px;
            height: 30px;
        }

        &.icon-me-clothing {
            background-image: url("@/assets/images/toolbar/icons/me-menu/clothing.png");
            width: 27px;
            height: 30px;
        }

        &.icon-me-settings {
            background-image: url("@/assets/images/toolbar/icons/me-menu/cog.png");
            width: 28px;
            height: 34px;
        }

        &.icon-cog {
            background: url("@/assets/images/icons/icon_cog.png");
            width: 14px;
            height: 15px;
        }

        &.icon-help {
            background: url("@/assets/images/icons/help.png");
            width: 13px;
            height: 23px;
        }

        &.icon-joinroom {
            background-image: url("@/assets/images/toolbar/icons/joinroom.png");
            width: 21px;
            height: 21px;
        }

        &.icon-habbo {
            background-image: url("@/assets/images/toolbar/icons/habbo.png");
            width: 28px;
            height: 28px;
        }

        &.icon-camera {
            background-image: url("@/assets/images/toolbar/icons/camera.png");
            width: 38px;
            height: 45px;
        }

        &.icon-message {
            background-image: url("@/assets/images/toolbar/icons/message.png");
            width: 36px;
            height: 32px;

            &.is-unseen {
                background-image: url("@/assets/images/toolbar/icons/message_unsee.gif");
            }
        }

        &.icon-wired-trigger {
            background-image: url("@/assets/images/wired/icon_trigger.png");
            width: 13px;
            height: 14px;
        }

        &.icon-wired-condition {
            background-image: url("@/assets/images/wired/icon_condition.png");
            width: 13px;
            height: 14px;
        }

        &.icon-wired-action {
            background-image: url("@/assets/images/wired/icon_action.png");
            width: 13px;
            height: 14px;
        }

        &.chatstyles-icon {
            background-image: url("@/assets/images/chat/styles-icon.png");
            width: 17px;
            height: 19px;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
            }
        }

        &.pencil-icon {
            background-image: url("@/assets/images/infostand/pencil-icon.png");
            width: 17px;
            height: 18px;
        }

        &.disk-icon {
            background-image: url("@/assets/images/infostand/disk-icon.png");
            width: 14px;
            height: 14px;
        }

        &.disk-creator {
            background-image: url("@/assets/images/infostand/disk-creator.png");
            width: 14px;
            height: 14px;
        }

        &.trade-locked-icon {
            background-image: url("@/assets/images/inventory/trading/locked-icon.png");
            width: 29px;
            height: 43px;
        }

        &.trade-unlocked-icon {
            background-image: url("@/assets/images/inventory/trading/unlocked-icon.png");
            width: 29px;
            height: 43px;
        }

        &.modtool-room-icon {
            background-image: url("@/assets/images/modtool/room.png");
            width: 20px;
            height: 15px;
        }

        &.modtool-chatlog-icon {
            background-image: url("@/assets/images/modtool/chatlog.gif");
            width: 20px;
            height: 15px;
        }

        &.modtool-user-icon {
            background-image: url("@/assets/images/modtool/user.gif");
            width: 20px;
            height: 15px;
        }

        &.modtool-reports-icon {
            background-image: url("@/assets/images/modtool/reports.png");
            width: 20px;
            height: 15px;
        }

        &.modtool-wrench-icon {
            background-image: url("@/assets/images/modtool/wrench.gif");
            width: 20px;
            height: 15px;
        }

        &.modtool-key-icon {
            background-image: url("@/assets/images/modtool/key.gif");
            width: 20px;
            height: 15px;
        }

        &.icon-catalogue-hc_small {
            background-image: url("@/assets/images/catalog/hc_small.png");
            height: 17px;
            width: 31px;
        }

        &.icon-catalogue-hc_big {
            background: url("@/assets/images/catalog/hc_big.png");
            width: 68px;
            height: 40px;
        }

        &.icon-sign-exclamation {
            background: url("@/assets/images/icons/sign-exclamation.png");
            width: 7px;
            height: 17px;
        }

        &.icon-sign-heart {
            background: url("@/assets/images/icons/sign-heart.png");
            width: 15px;
            height: 13px;
        }

        &.icon-sign-red {
            background: url("@/assets/images/icons/sign-red.png");
            width: 11px;
            height: 19px;
        }

        &.icon-sign-yellow {
            background: url("@/assets/images/icons/sign-yellow.png");
            width: 11px;
            height: 19px;
        }

        &.icon-sign-skull {
            background: url("@/assets/images/icons/sign-skull.png");
            width: 12px;
            height: 12px;
        }

        &.icon-sign-smile {
            background: url("@/assets/images/icons/sign-smile.png");
            width: 7px;
            height: 14px;
        }

        &.icon-sign-soccer {
            background: url("@/assets/images/icons/sign-soccer.png");
            width: 20px;
            height: 20px;
        }

        &.icon-house-small {
            background: url("@/assets/images/icons/house-small.png");
            width: 19px;
            height: 14px;
        }

        &.icon-camera-small {
            background: url("@/assets/images/icons/camera-small.png");
            width: 17px;
            height: 15px;
        }

        &.icon-small-room {
            background: url("@/assets/images/icons/small-room.png");
            width: 17px;
            height: 16px;
        }

        &.icon-cog {
            background: url("@/assets/images/icons/cog.png");
            width: 21px;
            height: 21px;
        }

        &.icon-chat-history {
            background: url("@/assets/images/icons/chat-history.png");
            width: 17px;
            height: 21px;
        }

        &.icon-room-link {
            background: url("@/assets/images/icons/room-link.png");
            width: 17px;
            height: 15px;
        }

        &.icon-zoom-more {
            background: url("@/assets/images/icons/zoom-more.png");
            width: 12px;
            height: 22px;
        }

        &.icon-zoom-less {
            background: url("@/assets/images/icons/zoom-less.png");
            width: 12px;
            height: 22px;
        }

        &.icon-like-room {
            background: url("@/assets/images/icons/like-room.png");
            width: 20px;
            height: 22px;
        }

        &.icon-arrows {
            background: url("@/assets/images/icons/arrows.png");
            width: 17px;
            height: 15px;
        }

        &.icon-camera-colormatrix {
            background: url("@/assets/images/icons/camera-colormatrix.png");
            width: 32px;
            height: 21px;
        }

        &.icon-camera-composite {
            background: url("@/assets/images/icons/camera-composite.png");
            width: 32px;
            height: 21px;
        }

        &.icon-pf-online {
            background: url("@/assets/images/profile/icons/online.gif");
            width: 40px;
            height: 16px;
        }

        &.icon-pf-offline {
            background: url("@/assets/images/profile/icons/offline.png");
            width: 39px;
            height: 16px;
        }

        &.icon-pf-tick {
            background: url("@/assets/images/profile/icons/tick.png");
            width: 11px;
            height: 10px;
        }

        &.icon-group-type-0 {
            background: url("@/assets/images/groups/icons/grouptype_icon_0.png");
            width: 16px;
            height: 16px;
        }

        &.icon-group-type-1 {
            background: url("@/assets/images/groups/icons/grouptype_icon_1.png");
            width: 16px;
            height: 16px;
        }

        &.icon-group-type-2 {
            background: url("@/assets/images/groups/icons/grouptype_icon_2.png");
            width: 16px;
            height: 16px;
        }

        &.icon-group-decorate {
            background: url("@/assets/images/groups/icons/group_decorate_icon.png");
            width: 15px;
            height: 15px;
        }

        &.icon-group-member {
            background: url("@/assets/images/groups/icons/group_icon_big_member.png");
            width: 20px;
            height: 20px;
        }

        &.icon-group-admin {
            background: url("@/assets/images/groups/icons/group_icon_big_admin.png");
            width: 20px;
            height: 20px;
        }

        &.icon-group-owner {
            background: url("@/assets/images/groups/icons/group_icon_big_owner.png");
            width: 20px;
            height: 20px;
        }

        &.icon-group-favorite {
            background: url("@/assets/images/groups/icons/group_favorite.png");
            width: 14px;
            height: 14px;
        }

        &.icon-group-not-favorite {
            background: url("@/assets/images/groups/icons/group_notfavorite.png");
            width: 14px;
            height: 14px;
        }

        &.icon-group-small-admin {
            background: url("@/assets/images/groups/icons/group_icon_admin.png");
            width: 11px;
            height: 13px;
        }

        &.icon-group-small-not-admin {
            background: url("@/assets/images/groups/icons/group_icon_not_admin.png");
            width: 11px;
            height: 13px;
        }

        &.icon-group-small-owner {
            background: url("@/assets/images/groups/icons/group_icon_small_owner.png");
            width: 13px;
            height: 13px;
        }

        &.icon-navigator-info {
            background: url("@/assets/images/navigator/icons/info.png");
            width: 18px;
            height: 18px;
        }

        &.icon-navigator-room-locked {
            background: url("@/assets/images/navigator/icons/room_locked.png");
            width: 13px;
            height: 16px;
        }

        &.icon-navigator-room-password {
            background: url("@/assets/images/navigator/icons/room_password.png");
            width: 13px;
            height: 16px;
        }

        &.icon-navigator-room-invisible {
            background: url("@/assets/images/navigator/icons/room_invisible.png");
            width: 13px;
            height: 16px;
        }

        &.icon-navigator-room-group {
            background: url("@/assets/images/navigator/icons/room_group.png");
            width: 13px;
            height: 11px;
        }

        &.icon-youtube-next {
            background: url("@/assets/images/room-widgets/youtube-widget/next.png");
            width: 21px;
            height: 16px;
        }

        &.icon-youtube-prev {
            background: url("@/assets/images/room-widgets/youtube-widget/prev.png");
            width: 21px;
            height: 16px;
        }

        &.icon-hc-banner {
            background: url("@/assets/images/catalog/hc_big.png");
            width: 68px;
            height: 40px;
        }

        &.icon-set-tile {
            background-image: url("@/assets/images/floorplaneditor/icon-tile-set.png");
            width: 40px;
            height: 40px;
        }

        &.icon-unset-tile {
            background-image: url("@/assets/images/floorplaneditor/icon-tile-unset.png");
            width: 40px;
            height: 40px;
        }

        &.icon-increase-height {
            background-image: url("@/assets/images/floorplaneditor/icon-tile-up.png");
            width: 40px;
            height: 40px;
        }

        &.icon-decrease-height {
            background-image: url("@/assets/images/floorplaneditor/icon-tile-down.png");
            width: 40px;
            height: 40px;
        }

        &.icon-set-door {
            background-image: url("@/assets/images/floorplaneditor/icon-door.png");
            width: 40px;
            height: 40px;
        }

        &.icon-door-direction-0 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-0.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-1 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-1.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-2 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-2.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-3 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-3.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-4 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-4.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-5 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-5.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-6 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-6.png");
            width: 80px;
            height: 45px;
        }

        &.icon-door-direction-7 {
            background-image: url("@/assets/images/floorplaneditor/door-direction-7.png");
            width: 80px;
            height: 45px;
        }

        &.icon-tickets {
            background-image: url("@/assets/images/icons/tickets.png");
            width: 17px;
            height: 17px;
        }

        &.icon-user {
            background-image: url("@/assets/images/icons/user.png");
            width: 18px;
            height: 19px;
        }

        &.icon-loading {
            background-image: url("@/assets/images/ui/loading_icon.png");

            &.with-size {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.unique-item {
    .unique-bg-override {
        @apply z-[2] bg-center bg-no-repeat;
    }

    &:before {
        @apply absolute z-[1] size-full bg-center bg-no-repeat [content:""];
        background-image: url("@/assets/images/unique/grid-bg.png");
    }

    &:after {
        @apply absolute bottom-0 z-[4] size-full bg-center bg-no-repeat [content:""];
        background-image: url("@/assets/images/unique/grid-bg-glass.png");
    }

    &.sold-out:after {
        @apply bg-center bg-no-repeat;
        background-image: url("@/assets/images/unique/grid-bg-sold-out.png"),
            url("@/assets/images/unique/grid-bg-glass.png");
    }

    .unique-item-counter {
        background-image: url("@/assets/images/unique/grid-count-bg.png");
        @apply bottom-[1px] z-[3] mx-auto my-0 flex h-[9px] w-full items-center justify-center bg-center bg-no-repeat;
    }
}

.unique-sold-out-blocker {
    width: 364px;
    height: 30px;
    background: url("@/assets/images/unique/catalog-info-sold-out.png");

    div {
        float: right;
        width: 140px;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 17px;
        color: #000;
    }
}

.unique-compact-plate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    right: 16px;
    width: 34px;
    height: 37px;
    background: url("@/assets/images/unique/inventory-info-amount-bg.png");

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9.5px;
    }
}

.unique-complete-plate {
    width: 170px;
    height: 29px;
    background: url("@/assets/images/unique/catalog-info-amount-bg.png") no-repeat center;
    z-index: 1;
    padding-top: 3px;

    .plate-container {
        margin-left: 45px;
        width: 100px;
        font-size: 10px;
        color: black;

        > :first-child {
            margin-bottom: 2px;
        }
    }
}

.limited-edition-number {
    display: inline-block;
    outline: 0;
    height: 5px;
    margin-right: 1px;
    background-image: url("@/assets/images/unique/numbers.png");
    background-repeat: no-repeat;

    &:last-child {
        margin-right: 0px;
    }

    &.n-0 {
        width: 4px;
        background-position: -1px 0px;
    }

    &.n-1 {
        width: 2px;
        background-position: -6px 0px;
    }

    &.n-2 {
        width: 4px;
        background-position: -9px 0px;
    }

    &.n-3 {
        width: 4px;
        background-position: -14px 0px;
    }

    &.n-4 {
        width: 4px;
        background-position: -19px 0px;
    }

    &.n-5 {
        width: 4px;
        background-position: -24px 0px;
    }

    &.n-6 {
        width: 4px;
        background-position: -29px 0px;
    }

    &.n-7 {
        width: 4px;
        background-position: -34px 0px;
    }

    &.n-8 {
        width: 4px;
        background-position: -39px 0px;
    }

    &.n-9 {
        width: 4px;
        background-position: -44px 0px;
    }
}

.nitro-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;

    .track {
        height: 3px;
        border-radius: .25rem;
        overflow: hidden;

        &.track-0 {
            background-color: #1e7295;
        }

        &.track-1 {
            background-color: #b6bec5;
        }
    }

    .thumb {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: gray;
        font-size: 10px;
        text-align: center;
        line-height: 25px;
        padding: 0 3px;

        &:hover,
        .active {
            cursor: pointer;
        }

        &.active {
            outline: none;
        }

        &.degree {

            &:after {
                content: '\00b0'
            }
        }

        &.percent {

            &:after {
                content: '\0025'
            }
        }
    }
}

.layout-grid-item {
    height: var(--nitro-grid-column-min-height, unset);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cdd3d9;
}

.nitro-friends-spritesheet {
    background: url('@/assets/images/friends/friends-spritesheet.png') transparent no-repeat;

    &.icon-friendbar-visit {
        width: 21px;
        height: 21px;
        background-position: -38px -5px;
    }

    &.icon-heart {
        width: 16px;
        height: 14px;
        background-position: -5px -67px;
    }

    &.icon-new-message {
        width: 14px;
        height: 14px;
        background-position: -96px -53px;
    }

    &.icon-none {
        width: 16px;
        height: 14px;
        background-position: -31px -67px;
    }

    &.icon-profile {
        width: 21px;
        height: 21px;
        background-position: -5px -36px;
    }

    &.icon-profile-sm {
        width: 13px;
        height: 11px;
        background-position: -51px -91px;

        &:hover {
            width: 13px;
            height: 11px;
            background-position: -74px -91px;
        }
    }

    &.icon-smile {
        width: 16px;
        height: 14px;
        background-position: -57px -67px;
    }

    &.icon-warning {
        width: 23px;
        height: 21px;
        background-position: -5px -5px;
    }

    &.icon-accept {
        width: 13px;
        height: 14px;
        background-position: -5px -91px;
    }

    &.icon-add {
        width: 16px;
        height: 15px;
        background-position: -69px -31px;
    }

    &.icon-bobba {
        width: 16px;
        height: 14px;
        background-position: -96px -5px;
    }

    &.icon-chat {
        width: 17px;
        height: 16px;
        background-position: -69px -5px;
    }

    &.icon-deny {
        width: 13px;
        height: 14px;
        background-position: -28px -91px;
    }

    &.icon-follow {
        width: 16px;
        height: 14px;
        background-position: -96px -29px;
    }

    &.icon-friendbar-chat {
        width: 20px;
        height: 21px;
        background-position: -36px -36px;
    }
}

.nitro-avatar-editor-spritesheet {
    background: url('@/assets/images/avatareditor/avatar-editor-spritesheet.png') transparent no-repeat;

    &.arrow-left-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -131px;
    }

    &.arrow-right-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -162px;
    }

    &.ca-icon {
        width: 25px;
        height: 25px;
        background-position: -226px -61px;

        &.selected {
            width: 25px;
            height: 25px;
            background-position: -226px -96px;
        }
    }

    &.cc-icon {
        width: 31px;
        height: 29px;
        background-position: -145px -5px;

        &.selected {
            width: 31px;
            height: 29px;
            background-position: -145px -44px;
        }
    }

    &.ch-icon {
        width: 29px;
        height: 24px;
        background-position: -186px -39px;

        &.selected {
            width: 29px;
            height: 24px;
            background-position: -186px -73px;
        }
    }

    &.clear-icon {
        width: 27px;
        height: 27px;
        background-position: -145px -157px;
    }

    &.cp-icon {
        width: 30px;
        height: 24px;
        background-position: -145px -264px;

        &.selected {
            width: 30px;
            height: 24px;
            background-position: -186px -5px;
        }
    }


    &.ea-icon {
        width: 35px;
        height: 16px;
        background-position: -226px -193px;

        &.selected {
            width: 35px;
            height: 16px;
            background-position: -226px -219px;
        }
    }

    &.fa-icon {
        width: 27px;
        height: 20px;
        background-position: -186px -137px;

        &.selected {
            width: 27px;
            height: 20px;
            background-position: -186px -107px;
        }
    }

    &.female-icon {
        width: 18px;
        height: 27px;
        background-position: -186px -202px;

        &.selected {
            width: 18px;
            height: 27px;
            background-position: -186px -239px;
        }
    }

    &.ha-icon {
        width: 25px;
        height: 22px;
        background-position: -226px -245px;

        &.selected {
            width: 25px;
            height: 22px;
            background-position: -226px -277px;
        }
    }

    &.he-icon {
        width: 31px;
        height: 27px;
        background-position: -145px -83px;

        &.selected {
            width: 31px;
            height: 27px;
            background-position: -145px -120px;
        }
    }

    &.hr-icon {
        width: 29px;
        height: 25px;
        background-position: -145px -194px;

        &.selected {
            width: 29px;
            height: 25px;
            background-position: -145px -229px;
        }
    }

    &.lg-icon {
        width: 19px;
        height: 20px;
        background-position: -303px -45px;

        &.selected {
            width: 19px;
            height: 20px;
            background-position: -303px -75px;
        }
    }

    &.loading-icon {
        width: 21px;
        height: 25px;
        background-position: -186px -167px;
    }


    &.male-icon {
        width: 21px;
        height: 21px;
        background-position: -186px -276px;

        &.selected {
            width: 21px;
            height: 21px;
            background-position: -272px -5px;
        }
    }


    &.sellable-icon {
        width: 17px;
        height: 15px;
        background-position: -303px -105px;
    }


    &.sh-icon {
        width: 37px;
        height: 10px;
        background-position: -303px -5px;

        &.selected {
            width: 37px;
            height: 10px;
            background-position: -303px -25px;
        }
    }


    &.spotlight-icon {
        width: 130px;
        height: 305px;
        background-position: -5px -5px;
    }


    &.wa-icon {
        width: 36px;
        height: 18px;
        background-position: -226px -5px;

        &.selected {
            width: 36px;
            height: 18px;
            background-position: -226px -33px;
        }
    }
}

.nitro-avatar-editor-wardrobe-figure-preview {
    background-color: #677181;
    overflow: hidden;
    z-index: 1;

    .avatar-image {
        position: absolute;
        bottom: 15px;
        margin: 0 auto;
        z-index: 4;
    }

    .avatar-shadow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        width: 40px;
        height: 20px;
        margin: 0 auto;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        z-index: 2;
    }

    &:after {
        position: absolute;
        content: '';
        top: 75%;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        background-color: #677181;
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6);
        transform: scale(2);
    }

    .button-container {
        position: absolute;
        bottom: 0;
        z-index: 5;
    }
}

.nitro-avatar-editor {


    .category-item {
        height: 40px;
    }

    .figure-preview-container {
        position: relative;
        height: 100%;
        background-color: #677181;
        overflow: hidden;
        z-index: 1;

        .arrow-container {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            bottom: 12px;
            z-index: 5;

            .icon {
                cursor: pointer;
            }
        }

        .avatar-image {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
            margin: 0 auto;
            z-index: 4;
        }

        .avatar-spotlight {
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0.3;
            pointer-events: none;
            z-index: 3;
        }

        .avatar-shadow {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            width: 70px;
            height: 30px;
            margin: 0 auto;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.20);
            z-index: 2;
        }

        &:after {
            position: absolute;
            content: '';
            top: 75%;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            background-color: #677181;
            box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6);
            transform: scale(2);
        }
    }
}
