@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed:wght@300;400;500&display=swap');
@import './assets/styles';

html,
body {
    font-family: GameUbuntu, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

img {
    object-fit: none;
}

@import './App';
