
@import './assets/styles';

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    scrollbar-width: thin;

    * {
        -webkit-font-smoothing: antialiased;
    }
}

img {
    object-fit: none;
}

@import './App';
