.nitro-group-tab-image {
    width: 122px;
    height: 68px;
    background: url('@/assets/images/groups/creator_images.png') no-repeat;

    &.tab-1 {
        background-position: 0px 0px;
        width: 99px;
        height: 50px;
    }

    &.tab-2 {
        background-position: -99px 0px;
        width: 98px;
        height: 62px;
    }

    &.tab-3 {
        background-position: 0px -50px;
        width: 96px;
        height: 45px;
    }

    &.tab-4,
    &.tab-5 {
        background-position: 0px -95px;
        width: 114px;
        height: 61px;
    }
}

.group-information {
    width: 100%;
    height: 100%;
    display: flex;

    .group-badge {
        width: 78px;
        height: 78px;

        .badge-image {
            background-size: contain;
        }
    }

    .group-description {
        height: 55px;
    }
}

.nitro-group-information-standalone {
    width: 500px;
}

.nitro-group-members {
    width: 400px;
    max-height: 380px;

    .nitro-group-members-list-grid {

        .member-list-item {
            height: 50px;
            max-height: 50px;

            .avatar-head {
                position: relative;
                overflow: hidden;
                width: 40px;
                height: 50px;
        
                .avatar-image {
                    position: absolute;
                    left: -25px;
                    top: -20px;
                }
            }
        }
    }
}

.group-badge-preview {
    width: 42px;
    height: 42px;
    background-color: $grid-bg-color;

    &.active {
        border-color: $grid-active-border-color !important;
        background-color: $grid-active-bg-color;

        &:before {
            position: absolute;
            content: ' ';
            width: 0;
            height: 0;
            border-top: 10px solid white;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: -10px;
        }
    }
}

.group-badge-color-swatch,
.group-badge-position-swatch {
    position: relative;
    border-radius: $border-radius;
    width: 16px;
    height: 16px;
    background: $white;
    border: 2px solid $white;
    box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

    &.active {
        box-shadow: none;
    }
}

.group-badge-position-swatch {
    box-shadow: inset 3px 3px rgba(0, 0, 0, .1);

    &.active {
        background: $primary;
    }
}

.group-badge-color-swatch {
    box-shadow: inset 2px 2px rgba(0, 0, 0, .2);
}

.group-color-swatch {
    width: 30px;
    height: 40px;
}

.nitro-group-manager {
    height: $nitro-group-manager-height;
    width: $nitro-group-manager-width;
}

.nitro-group-creator {
    height: $nitro-group-manager-height;
    width: $nitro-group-manager-width;

    .creator-tabs {

        .tab {
            position: relative;
            margin-left: -6px;
            background-image: url('@/assets/images/groups/creator_tabs.png');
            background-repeat: no-repeat;

            &:first-child {
                margin-left: 0;
            }

            &.tab-blue-flat {
                width: 84px;
                height: 24px;
                background-position: 0px 0px;

                &.active {
                    height: 28px;
                    background-position: 0px -24px;
                }
            }

            &.tab-blue-arrow {
                width: 83px;
                height: 24px;
                background-position: 0px -52px;

                &.active {
                    height: 28px;
                    background-position: 0px -76px;
                }
            }

            &.tab-yellow {
                width: 133px;
                height: 28px;
                background-position: 0px -104px;

                &.active {
                    height: 33px;
                    background-position: 0px -132px;
                }
            }
        }
    }
}
