.nitro-card-header-container {
    .nitro-card-header {
        min-height: 33px;
        max-height: 33px;
        white-space: nowrap;

        .header-text {
            margin: 0;
        }

        &.simple-header {
            min-height: 28px;

            .header-close {
                font-size: 12px;
            }
        }

        .bg-tertiary-split {
            position: relative;
            border-bottom: 2px solid darken($quaternary, 5);
            box-shadow: 0 2px white;
            width: 100%;
            margin: 0;

            &:before {
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgba($white, 0.3);
            }
        }

        .header-close {
            right: 6px;
            border-radius: $border-radius;
            box-shadow: 0 0 0 1.5px $white;
            border: 2px solid #921911;
            background: repeating-linear-gradient(
                rgba(245, 80, 65, 1),
                rgba(245, 80, 65, 1) 50%,
                rgba(194, 48, 39, 1) 50%,
                rgba(194, 48, 39, 1) 100%
            );
            cursor: pointer;
            line-height: 1;
            padding: 1px 3px;

            &:hover {
                filter: brightness(1.2);
            }

            &:active {
                filter: brightness(0.8);
            }
        }
    }
}
