$grid-options: (
    "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"
);

.grid-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    margin-top: -3px;
    overflow: hidden;

    @each $option in $grid-options {
        &.grid-#{$option} {
            .grid-item {
                width: calc(1 / #{$option} * 100% - (1 - 1 / #{$option}) * 3px);

                &:nth-child(#{$option}n) {
                    margin-right: 0;
                }
            }
        }
    }
}

.row-grid {
    margin: 0 !important;
    
    .col {
        padding: 0 !important;
    }
}

@each $option in $grid-options {
    .row-grid {
        &.row-cols-#{$option} {
            .col:nth-child(#{$option}n) {
                padding-left: 10px !important;
            }
        }
    }
}
