.grid-container {
    position: relative;
    overflow: hidden;

    .grid-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        width: 100%;
        margin-top: -3px;
        overflow: hidden;

        &.grid-1 {

            .item-detail {
                width: calc(1 / 1 * 100% - (1 - 1 / 2) * 3px);

                &:nth-child(1n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-2 {

            .item-detail {
                width: calc(1 / 2 * 100% - (1 - 1 / 2) * 3px);

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-3 {

            .item-detail {
                width: calc(1 / 3 * 100% - (1 - 1 / 3) * 3px);

                &:nth-child(3n) {
                    margin-right: 0 !important;
                }
            }
        }

        &.grid-5 {

            .item-detail {
                width: calc(1 / 5 * 100% - (1 - 1 / 5) * 3px);

                &:nth-child(5n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-6 {

            .item-detail {
                width: calc(1 / 6 * 100% - (1 - 1 / 6) * 3px);

                &:nth-child(6n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-8 {

            .item-detail {
                width: calc(1 / 8 * 100% - (1 - 1 / 8) * 3px);

                &:nth-child(8n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-9 {

            .item-detail {
                width: calc(1 / 9 * 100% - (1 - 1 / 9) * 3px);

                &:nth-child(9n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-10 {

            .item-detail {
                width: calc(1 / 10 * 100% - (1 - 1 / 10) * 3px);

                &:nth-child(10n) {
                    margin-right: 0;
                }
            }
        }

        &.grid-12 {

            .item-detail {
                width: calc(1 / 12 * 100% - (1 - 1 / 12) * 3px);

                &:nth-child(12n) {
                    margin-right: 0;
                }
            }
        }

        &.palette-grid {

            .item-detail {
                height: 24px !important;
                max-height: 24px !important;
            }
        }

        .item-detail {
            position: relative;
            height: 65px;
            max-height: 65px;
            margin: 3px 3px 0 0;
            overflow: hidden;

            .detail-info {
                width: 100%;
                height: 100%;
                overflow: hidden;
                top: 0;

                &.has-image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../images/icons/loading-icon.png');
                }
            }

            &.unseen {
                background-color: rgba($green, 1);
            }
        }

        &::after {
            content: "";
            flex: auto;
        }
    }
}
