::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: $border-radius;
    background: rgba($black,.1);
    box-shadow:inset 0 0 1px 1px rgba($black,.1);
    padding-top:3px;
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background: rgba($primary,.4);
    width: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($primary,.8);
}

::-webkit-scrollbar-thumb:active {
    background: $secondary;
}
