::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: $border-radius;
    background: rgba($primary,.4);
    box-shadow:inset 1px 0 rgba($black,.2);
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background: #DCDCDC;
    box-shadow:inset 1px 4px $white, inset -1px -4px rgba($black,.2), 0 1px rgba($black,.2);
    width: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($white, 1);
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 1px 4px rgba($white,.4), inset -1px -4px rgba($black,.2), 0 1px rgba($black,.2);
    background:#C4C4C4;
}
