.scale-0-5 {
    transform: scale(0.5) translateZ(0);
}

.scale-0-75 {
    transform: scale(0.75) translateZ(0);
}

.scale-1 {
    transform: scale(1);
}

.scale-1-25 {
    transform: scale(1.25) translateZ(0);
}

.scale-1-50 {
    transform: scale(1.50) translateZ(0);
}

.scale-2 {
    transform: scale(2);
}

.opacity-0-5 {
    opacity: 0.5;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.min-height-0 {
    min-height: 0 !important;
}

ul {

    &.columns-3 {
        display: block;
        columns: 3;
        font-size: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}

.filter-none {
    filter: unset !important;
}

.w-unset {
    width: unset;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.grayscale {
    filter: grayscale(1);
}
