.layout-grid-item {
    height: var(--nitro-grid-column-min-height, unset);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $grid-bg-color;

    &.active {
        border-color: $grid-active-border-color  !important;

        &:not(.clear-bg) {
            background-color: $grid-active-bg-color  !important;
        }
    }

    &.disabled {
        cursor: not-allowed;

        img {
            opacity: 0.5;
            filter: grayscale(1);
        }
    }

    &.unseen {
        background-color: rgba($success, 0.4);
    }

    .avatar-image {
        background-position-y: -35px;
    }

    &.has-highlight {
        &:after {
            content: '';
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 50%;
            background-color: $white;
            opacity: 0.1;
        }
    }
}

.nitro-room-thumbnail-camera {
    width: 132px;
    height: 192px;
    background-image: url('@/assets/images/room-widgets/thumbnail-widget/thumbnail-camera-spritesheet.png');

    .camera-frame {
        position: absolute;
        width: 110px;
        height: 110px;
        margin-top: 30px;
        margin-left: 3px;
    }
}

.nitro-layout-trophy {
    position: relative;
    width: 340px;
    height: 173px;
    color: black;
    pointer-events: all;

    background-position: 0px 0px;
    background-image: url('@/assets/images/room-widgets/trophy-widget/trophy-spritesheet.png');

    &.trophy-2 {
        background-position: 0px 173px;
    }

    &.trophy-3 {
        background-position: 0px 346px;
    }

    .trophy-header {
        height: 22px;

        .trophy-close {
            width: 15px;
            height: 15px;
            right: 5.5px;
            top: 5px;
        }
    }

    .trophy-content {
        width: 297px;
        height: 116px;
        white-space: pre-wrap;
        overflow: auto;
    }

    .trophy-footer {
        width: 297px;
    }
}

.nitro-gift-card {
    width: 306px;
    height: 159px;
    background: url('@/assets/images/gift/gift_tag.png') center no-repeat;

    .gift-face {
        width: 65px;

        .gift-incognito {
            width: 37px;
            height: 48px;
            background: url('@/assets/images/gift/incognito.png') center no-repeat;
        }

        .gift-avatar {
            position: relative;
            overflow: hidden;
            width: 40px;
            height: 50px;

            .avatar-image {
                position: absolute;
                left: -25px;
                top: -20px;
            }
        }
    }

    .gift-message {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border: none;
        resize: none;
        outline: none;
        line-height: 17px;
    }
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        margin: 2px;
        width: 10px;
        height: 10px;
        border: $border-width solid $white;
        background-color: rgba($white, 0.8);
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;

        &:nth-child(1) {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.room-thumbnail {
    position: relative;
    width: 110px;
    height: 110px;
    background: url('@/assets/images/navigator/thumbnail_placeholder.png') no-repeat center;
    background-color: rgba($black, 0.125);
}

#draggable-windows-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .draggable-window {
        display: inline-block;
        visibility: hidden;
        pointer-events: all;
    }
}

.nitro-currency-icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.nitro-item-count {
    top: 2px;
    right: 2px;
    font-size: 9.5px;
    padding: 2px 3px;
    z-index: 1;
}

.badge-image {
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;

    .badge-information {
        display: none;
    }

    &:hover {
        .badge-information {
            display: block;
        }
    }

    .badge-information {
        position: absolute;
        pointer-events: none;
        user-select: none;
        width: 210px;
        border-radius: $border-radius;
        background: $white;
        left: -220px;
        z-index: 100;

        &:before {
            position: absolute;
            content: ' ';
            width: 0;
            height: 0;
            border-left: 10px solid $white;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            top: 10px;
            right: -10px;
        }
    }
}

.furni-image,
.room-object-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nitro-rarity-level {
    width: 36px;
    height: 28px;
    background: url('@/assets/images/infostand/rarity-level.png');

    div {
        line-height: 28px;
        text-align: center;
        color: $black;
        font-weight: bold;
    }
}

.nitro-counter-time {
    width: 36px;
    height: 28px;
    background: url('@/assets/images/infostand/countown-timer.png');

    div {
        line-height: 28px;
        text-align: center;
        color: $white;
        font-weight: bold;
    }
}

.avatar-image {
    position: relative;
    width: 90px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center -8px;
    pointer-events: none;
}

.pet-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.room-preview-container {
    position: relative;
    width: 100%;

    .room-preview-image {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        background-color: $light;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;

        &.border-0 {
            &::after {
                content: none;
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: $border-radius;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            box-shadow: -2px -2px rgba(0, 0, 0, 0.4),
                inset 3px 3px rgba(0, 0, 0, 0.2);
        }
    }
}

.unique-item {
    .unique-bg-override {
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: url('@/assets/images/unique/grid-bg.png') center no-repeat;
        z-index: 1;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: url('@/assets/images/unique/grid-bg-glass.png') center no-repeat;
        bottom: 0;
        z-index: 4;
    }

    &.sold-out:after {
        background: url('@/assets/images/unique/grid-bg-sold-out.png') center no-repeat,
            url('@/assets/images/unique/grid-bg-glass.png') center no-repeat;
    }

    .unique-item-counter {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 1px;
        width: 100%;
        height: 9px;
        background: url('@/assets/images/unique/grid-count-bg.png') center no-repeat;
        z-index: 3;
    }
}

.unique-sold-out-blocker {
    width: 364px;
    height: 30px;
    background: url('@/assets/images/unique/catalog-info-sold-out.png');

    div {
        float: right;
        width: 140px;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 17px;
        color: #000;
    }
}

.unique-compact-plate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    right: 16px;
    width: 34px;
    height: 37px;
    background: url('@/assets/images/unique/inventory-info-amount-bg.png');

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9.5px;
    }
}

.unique-complete-plate {
    width: 170px;
    height: 29px;
    background: url('@/assets/images/unique/catalog-info-amount-bg.png') no-repeat center;
    z-index: 1;
    padding-top: 3px;

    .plate-container {
        margin-left: 45px;
        width: 100px;
        font-size: 10px;
        color: black;

        > :first-child {
            margin-bottom: 2px;
        }
    }
}

.limited-edition-number {
    display: inline-block;
    outline: 0;
    height: 5px;
    margin-right: 1px;
    background-image: url('@/assets/images/unique/numbers.png');
    background-repeat: no-repeat;

    &:last-child {
        margin-right: 0px;
    }

    &.n-0 {
        width: 4px;
        background-position: -1px 0px;
    }

    &.n-1 {
        width: 2px;
        background-position: -6px 0px;
    }

    &.n-2 {
        width: 4px;
        background-position: -9px 0px;
    }

    &.n-3 {
        width: 4px;
        background-position: -14px 0px;
    }

    &.n-4 {
        width: 4px;
        background-position: -19px 0px;
    }

    &.n-5 {
        width: 4px;
        background-position: -24px 0px;
    }

    &.n-6 {
        width: 4px;
        background-position: -29px 0px;
    }

    &.n-7 {
        width: 4px;
        background-position: -34px 0px;
    }

    &.n-8 {
        width: 4px;
        background-position: -39px 0px;
    }

    &.n-9 {
        width: 4px;
        background-position: -44px 0px;
    }
}

.nitro-progress-bar {
    border: 1px solid $white;
    padding: 2px;
    height: 20px;
    border-radius: $border-radius;
    overflow: hidden;
    background: $primary;

    &.large {
        height: 30px;
    }

    .nitro-progress-bar-inner {
        height: 100%;
        z-index: 1;
        transition: all 1s;
        border-radius: calc(#{$border-radius} / 2);
        background: repeating-linear-gradient($tertiary,
                $tertiary 50%,
                $quaternary 50%,
                $quaternary 100%);
    }

    .nitro-progress-bar-text {
        text-shadow: 0px 4px 4px rgba($black, 0.25);
        z-index: 2;
    }
}

@import './card/NitroCardView';
