.nitro-inventory {
    width: 475px;

    .content-area {
        min-height: 240px;
        height: 240px;
        max-height: 430px;
        resize: vertical;
        overflow: auto;
    }

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }
}


@import './views/InventoryViews';
