.nitro-inventory {
    width: 475px;

    .content-area {
        height: calc(220px + (#{$container-padding-x} * 2));
        max-height: calc(220px + (#{$container-padding-x} * 2));
    }

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }
}


@import './views/InventoryViews';
