.nitro-chat-style-selector-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 7px;
}

.nitro-chat-style-selector-test {
    display: flex;
    position: relative;
    right: 30px;
    pointer-events: all;
    height: 100%;

    i.icon {
        cursor: pointer;
        align-self: center;
    }

    .nitro-chatstyle-selector {
        position: absolute;
        width: 250px;
        top: -4px;
        transition: transform 0.22s ease-in-out;
        transform: translate(-81px, -50%) scale(0);

        &.active {
            visibility: visible;
            transform: translate(-160px, -100%) scale(1);
        }

        .grid-container {

            .grid-items {
                margin-top: -7px;
    
                .item-detail {
                    height: 30px;
                    max-height: 30px;
                    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 7px);
                    margin: 7px 7px 0 0;
                    overflow: visible;
    
                    &:hover {
                        cursor: pointer;
                    }
    
                    .detail-info {

                        .bubble-container {
                            visibility: visible;
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}
