.nitro-room-widgets {
    pointer-events: none;
}

.nitro-widget-custom-stack-height {
    width: $nitro-widget-custom-stack-height-width;
    height: $nitro-widget-custom-stack-height-height;
}

.nitro-room-widget-dimmer {
    width: 275px;

    .dimmer-banner {
        width: 56px;
        height: 79px;
        background: url('../../../../assets/images/room-widgets/dimmer-widget/dimmer_banner.png') center no-repeat;
    }

    .color-swatch {
        height: 30px;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .2);

        &.active {
            box-shadow: none;
        }
    }
}

.nitro-widget-exchange-credit {
    width: $nitro-widget-exchange-credit-width;
    height: $nitro-widget-exchange-credit-height;

    .exchange-image {
        background-image: url('../../../../assets/images/room-widgets/exchange-credit/exchange-credit-image.png');
        width: 103px;
        height: 103px;
    }
}

.nitro-external-image-widget {

    .picture-preview {
        width: 320px;
        height: 320px;
    }
}

.nitro-gift-opening {
    
}

.nitro-mannequin {
}

.mannequin-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 130px;
    background-image: url('../../../../assets/images/room-widgets/mannequin-widget/mannequin-spritesheet.png');
    overflow: hidden;
}

@import './friend-furni/FurnitureFriendFurniView';
@import './manipulation-menu/FurnitureManipulationMenuView';
@import './stickie/FurnitureStickieView';
@import './high-score/FurnitureHighScoreView';
@import './youtube-tv/FurnitureYoutubeDisplayView';
