$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 33px;

.nitro-card {
    pointer-events: all;
    resize: both;

    &.theme-dark {
        padding: 2px;
        background-color: #1C323F;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 0.25rem;
    }

    &.theme-primary {
        border: $border-width solid $border-color;
    }
}

.nitro-card-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        
        .draggable-window {
            top: 0 !important;
            left: 0 !important;
            width: 100%;
            height: 100%;
            //transform: none !important;
            overflow: hidden;
        }
    
        .nitro-card {
            max-width: 75%;
            max-height: calc(100% - 20px);
            margin: 10px auto 10px;
    
            // &.rounded {
            //     border-radius: 0 !important;
            // }
        }
    }

    @include media-breakpoint-down(sm) {
        
        .draggable-window {
            top: 0 !important;
            left: 0 !important;
            width: 100%;
            height: 100%;
            //transform: none !important;
            overflow: hidden;
        }
    
        .nitro-card {
            width: 100%;
            max-width: 100%;
            max-height: calc(100% - #{$toolbar-height});
            margin: 0;
    
            &.rounded {
                border-radius: 0 !important;
            }
        }
    }
}

@import './accordion/NitroCardAccordionView';
@import './content/NitroCardContentView';
@import './grid/NitroCardGridView';
@import './header/NitroCardHeaderView';
@import './tabs/NitroCardTabsView';
