$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 33px;

.nitro-card {
    pointer-events: all;
    resize: both;

    @include media-breakpoint-down(sm) {
        max-width: 100vw !important;
    }

    &.theme-primary {
        border: $border-width solid $border-color;

        .nitro-card-header-container {
            background-color: $primary;

            .nitro-card-header {
                .header-text {
                    color: $white;
                }
            }
        }

        .nitro-card-tabs {
            background-color: $secondary;
        }

        .content-area {
            background-color: $light;
        }
    }
}

@import "./accordion/NitroCardAccordionView";
@import "./content/NitroCardContentView";
@import "./grid/NitroCardGridView";
@import "./header/NitroCardHeaderView";
@import "./tabs/NitroCardTabsView";
