.relationships-container {

    .relationship-container {

        .relationship 
        {
            position: relative;
            
            &.advanced {
                background-color: white;
                padding: 5px;
                border-radius: 5px;
            }

            .relationship-text {
                text-decoration: underline;
            }

            .avatar-image {
                position: absolute;
                width: 50px;
                height: 80px;
                right: 0;
                margin-top: -60px;
            }
        }

        .others-text {
            margin-left: 20px;
            height: 21px;
            color: #939392;
        }
    }
    
}
