.nitro-dimmer {
    width: 300px;

    .dimmer-banner {
        width: 56px;
        height: 79px;
        background: url(../../../../../assets/images/room-widgets/dimmer-widget/dimmer_banner.png) center no-repeat;
    }

    .color-swatch {
        height: 30px;
    }
}
