.nitro-room-widget-dimmer {
    width: 275px;

    .dimmer-banner {
        width: 56px;
        height: 79px;
        background: url('../../../../../assets/images/room-widgets/dimmer-widget/dimmer_banner.png') center no-repeat;
    }

    .color-swatch {
        height: 30px;
        border: 2px solid $white;
        box-shadow: inset 3px 3px rgba(0, 0, 0, .2);

        &.active {
            box-shadow: none;
        }
    }
}
