.nitro-text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2)
}

.nitro-close {
    right: 5px;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1.5px #921911, inset 0 2px rgba($white, .2);
    border: 1px solid $white;
    background: rgb(245,80,65);
    background: linear-gradient(180deg, rgba(245,80,65,1) 0%, rgba(245,80,65,1) 50%, rgba(194,48,39,1) 50%, rgba(194,48,39,1) 100%);
    cursor: pointer;
    line-height: 1;
    padding: 4px 6px;

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(0.8);
    }
}

@import './card/NitroCardView';
@import './draggable-window/DraggableWindow';
@import './loading-habbos/LoadingHabbosView';
@import './loading-spinner/LoadingSpinnerView';
@import './mini-camera/NitroLayoutMiniCameraView';
@import './notification-alert/NotificationAlertView';
@import './notification-bubble/NotificationBubbleView';
@import './room-thumbnail/RoomThumbnailView';
@import './trophy/NitroLayoutTrophyView';
@import './gift-card/NitroLayoutGiftCardView';
