.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}
