.nitro-room-settings {
    width: 400px;

    .content-area {
        height: 350px;
    }

    .user-rights-container {

        .row {
    
            .col:nth-child(even) {
                //background: $light !important;
            }
        }
    }

    .list-container {
        max-height: 100px;
        min-height: 100px;
        overflow-y: scroll;
        background-color: white;
        border-radius: 5px;
        text-align: center;

        &.rights {
            max-height: 80%;
            min-height: 80%;
            margin-bottom: 5px;
        }

        &.friends-rights {
            max-height: 90%;
            min-height: 90%;
        }

        .rights-button
        {
            float: right;
            margin: 2px;
            font-size: 7px;
            padding: 3px;
            min-height: unset;
        }

        .list-item {
            &.selected {
                background-color: cadetblue;
            }
        }
    }
    
}
