.nitro-room-settings {
    width: 400px;

    .content-area {
        height: 350px;
    }

    .list-container {
        max-height: 150px;
        overflow-y: scroll;

        .list-item {
            &.selected {
                background-color: cadetblue;
            }
        }
    }
    
}
